[2014-09-15 14:42] fabiankirstein opened #1 "Git Pull in Makefile incomplete"
The following lines in the Makefile are not working correctly in my environment (Ubuntu 14.04.). The problems seems to be that we are trying to loop through submodules which are not there yet. I would say we have to do first:
git pull
git submodule init
git submodule update

But I am not very sure-

update_repros:
git pull
git submodule foreach --recursive git checkout master ;\
git submodule fore

[2014-09-16 14:10] #1 closed, assigned to joka

[2014-11-10 09:35] nidico opened #11 "Configure mail server"
Registration emails don't arrive yet (see policycompass/policycompass-frontend#36).

[2014-11-12 12:53] nidico opened #12 "FCM Gateway error"
Trying to access the FCM manager backend through the node proxy fails with a "Bad gateway" error.

We either need to fix this issue or don't use the Proxy, but then the FCM backend needs CORS headers as well.

[2014-11-12 15:24] #12 closed, assigned to nobody

[2014-11-13 10:33] #11 closed, assigned to nidico

[2014-11-14 11:08] almey opened #14 "make routine interrupted"
During the make routine a massage appears which asks to choose the right version of AngularJS, but no user input is possible then, so the script is not able to finish properly.

[2014-12-08 15:43] #14 closed, assigned to nobody

[2015-02-10 17:45] nidico opened #15 "Adhocracy fails to build due to missing libmagic.so.5"
Trying to build Adhocracy through `make adhocracy_install` fails due to an unsuccessful `prequest` command, which yields:

    OSError: libmagic.so.1: cannot open shared object file: No such file or directory

[2015-02-10 18:05] nidico opened #16 "Pin Adhocracy"
`make adhocracy_install` currently pulls Adhocracy from master. It would be good to pin to a known-good version in order to avoid problems such as #15.

[2015-02-10 18:06] nidico opened #17 "Update nix to 14.12"
We currently use the nix `14.04` nix channel. `14.12` is now out, so we should use it if everything works fine.

We should describe an upgrade path (if more than `make` is necessary).

[2015-02-26 12:13] FabiApfelkern opened #19 "Changes in frontend_development.ini"
In order to allow the access of the live Adhocracy-service from a local machine I have modified the frontend_development.ini (trusted_domains). This file is part of the repo, so it will be overridden on the next pull I guess. What is a good approach to avoid this?

[2015-03-05 14:20] FabiApfelkern opened #21 "Better JSON Styling in API Documentation"
We should have a great JSON formating in our documentation. I corrected one of the Visualisation examples (https://github.com/policycompass/policycompass/wiki/Visualisation-manager). I used this page http://jsbeautifier.org/ and a JSON markdown tag for it.

[2015-03-05 15:47] mmilaprat commented on #21
Good idea. I just updated the rest of JSONs.

[2015-03-05 16:41] FabiApfelkern commented on #21
Cool! Thank you.

[2015-03-22 20:33] nidico opened #23 "Continuous Integration (Test + Deploy)"
Requirements:

- run the testsuite
- send emails if broken
- update test server if successful

Tasks:

- [x] "rebuild" script - LIQD
- [x] Automatic build (.travis.yml) - LIQD
- [x] Trigger rebuild on dev-server - coordinate with FOKUS data center

[2015-03-22 20:36] nidico opened #24 "Acceptance tests for complete "happy flow""
We should cover the "happy flow" frontend clickthrough for all modules. We can do this with actual running backends.

LIQD is using [Protractor](https://angular.github.io/protractor/#/) now for Adhocracy and it's working better than everything else so far.

[2015-03-22 20:38] nidico opened #25 "Add dev server which is continously updated"
@FabiApfelkern tells @skous how to update DNS in order to reach dev server.

The server itself will be updated through CI, see #23.

[2015-03-22 20:39] nidico opened #26 "Setup PCompass in full production environment"
- [ ] ~~PostgreSQL for Django (migrate existing data on alpha)~~ (postponed for now)
- [x] Replace django dev server with gunicorn / waitress
- [x] Maybe replace node.js with nginx for static deployment
- [x] FCM module needs CORS headers

[2015-03-23 09:05] FabiApfelkern commented on #25
I have done this already and waiting for response.

[2015-03-23 09:07] FabiApfelkern commented on #26
FCM CORS already done: https://github.com/policycompass/policycompass-fcmmanager/pull/3

[2015-03-23 15:27] skous commented on #25
This issue was placed on hold as there were some discussions to transfer the domain, but as these were postponed I have forwarded this request now to our admin.

--
Sotiris
Sent from my iPhone

[2015-03-23 16:53] skous commented on #25
DNS entries updated!

[2015-03-23 16:53] #25 closed

[2015-03-24 14:40] slomo commented on #23
@nidico can you further specify the rebuild script? Is this related to #22

[2015-03-24 16:19] nidico commented on #23
Yes, that's what it's about.

[2015-04-15 13:37] lfarid opened #28 "Instructions on proper use of git branches/pull requests"
easy and short instructions on the development process using git

points from workshop in Berlin February 2015:
- never commit to master
- do not create branches in master
- create a new origin which represents your remote private repository
- create forks into your private respository (origin)
- when done create a pull request

[2015-04-15 13:57] FabiApfelkern opened #29 "Hibernate and PostgreSQL - Too Many Connections"
I created a FCM and performed a lot of save operations while doing that. This led to a total crash of the database connection with the following message:

    org.hibernate.exception.JDBCConnectionException: Error calling Driver#connect
    root cause
    org.postgresql.util.PSQLException: FATAL: remaining connection slots are reserved for non-replication superuser connections

It looks like there

[2015-04-29 15:43] nidico opened #30 "Create nginx config from Makefile"
Use a template file and fill in server URL.

[2015-04-29 15:44] nidico opened #31 "Create frontend config from Makefile"

[2015-05-06 08:39] FabiApfelkern commented on #17
We don't use nix anymore.

[2015-05-06 08:39] #17 closed

[2015-05-06 08:40] #21 closed

[2015-05-13 07:54] #31 closed

[2015-05-13 07:58] FabiApfelkern opened #33 "Static Carneades Deployment"
The current version of Carneades in Policy Compass will not be development any further. Until we get the new version (based on a totally new stack) we should remove the Carneades build process from the make file (it is buggy anyway). Instead we should provide an already compiled war-file. I put this file on the alpha server under /home/policycompass/backup.  We should integrate it into this repo a

[2015-05-13 08:31] FabiApfelkern opened #34 "Deployment of Adhocracy"
On both servers Adhocracy needs to be deployed.

[2015-05-19 15:33] aquinas9 opened #36 "Fail to save the position of concept"
Some times it fails to save the position of concepts.

[2015-05-19 15:37] aquinas9 opened #37 "FCM simulation functionalities - with static interface"
Implementing the FCM simulation and show the simulation results on the table tab.
No connection with DB for the simulation results.

[2015-05-19 15:39] aquinas9 opened #38 "Impact Analysis"
After implementing single simulation, impact analysis can be done by repeating the simulation with regard to the change of one concept value. Impact analysis only have to show the final state of each concepts.

[2015-05-20 08:30] FabiApfelkern opened #39 "Create Indicator/Property Service"

[2015-05-20 08:33] FabiApfelkern opened #40 "UI Design for Property/Indicator Service"

[2015-05-20 08:34] FabiApfelkern opened #41 "Basic UI Logic for Property/Indicator Service"

[2015-05-20 08:37] FabiApfelkern opened #42 "Implementing Basic Dataset Manager API"
- Just the basic JSON structure

[2015-05-20 08:39] FabiApfelkern opened #43 "Linking Datasets with Indicators/Properties"

[2015-05-20 08:44] FabiApfelkern opened #44 "Refactoring and Extension of Reference Pool"
- Some work already done: https://github.com/policycompass/policycompass-services/issues/15

[2015-05-20 08:45] FabiApfelkern opened #45 "Fill Reference Pool with Sample Data"

[2015-05-20 08:49] mmilaprat opened #46 "Visualisation: Use datasets"
Move visualisation front end from metrics to datasets (When datasets will be availble)

[2015-05-20 08:51] mmilaprat opened #47 "Visualisation: Add palet colour to each identity"
Be able to select a colour per each line ploted in a graph line

[2015-05-20 08:52] mmilaprat opened #48 "Visualisation:Update historical event related data"
Be able to change main data of a related event (colour, description)

[2015-05-20 08:52] FabiApfelkern opened #49 "Migration to Django Rest Framework 3"
We should migrate to DRF3 in the next future to benefit from new features and a more stable implementation.

[2015-05-20 08:53] FabiApfelkern opened #50 "Time Conversion for Datasets"
The times in the metric data will be represented with a specific resolution and only one value:

    Modify the API
    Implement the scaling-logic

[2015-05-20 08:54] mmilaprat opened #51 "Visualisation: Recomendation engine to link events"
Add a recomendation engine based on the visualisation data

[2015-05-20 08:55] FabiApfelkern opened #52 "Prepare Reference Pool for Unit Conversion"

[2015-05-20 08:55] FabiApfelkern opened #53 "Implement Dataset Unit Conversion"

[2015-05-20 08:57] mmilaprat opened #54 "Visualisation: Add interations to change visualisations in "view" mode"
Add checkboxes into the visualisation view mode to be able to change it by end users

[2015-05-20 08:57] FabiApfelkern opened #55 "UI Design for Dataset Manager"

[2015-05-20 08:58] FabiApfelkern opened #56 "Frontend Views for Dataset Manager"
- Creation: Views for all Steps
- Editing
- Reading

[2015-05-20 08:59] mmilaprat opened #57 "Visualisation: Add maps"
Plot dataset data in maps

[2015-05-20 09:02] mmilaprat opened #58 "Visualisation: API, move it to datasets"
Update visualisation API to datasets

[2015-05-20 09:02] FabiApfelkern opened #59 "Create Policy Compass Embed Snippet"

[2015-05-20 09:02] FabiApfelkern opened #60 "Integrating Social Buttons"

[2015-05-20 09:04] FabiApfelkern opened #61 "UI design for Request service"

[2015-05-20 09:04] FabiApfelkern opened #62 "UI design for new metrics manager front ends"

[2015-05-20 09:06] FabiApfelkern opened #63 "Create Directive to use Chardin.js"
https://github.com/policycompass/policycompass-frontend/issues/93

[2015-05-20 09:07] FabiApfelkern opened #64 "Add CC-BY-SA4 to main page"
Add to footer cc-by-sa 4 logo and licensing

[2015-05-20 09:07] FabiApfelkern opened #65 "Integrate carneades front end into Policy Compass"

[2015-05-20 09:09] FabiApfelkern opened #66 "Add "unsupported browser" warning"

[2015-05-20 09:10] FabiApfelkern opened #67 "Tooltip for acronym, keywords, publihser, resource url"
Acronym - the meaning of this field and how it is used in PoCo
Keywords - what separators are allowed?
publisher and resource URL might be misleading to users. Should explain that they are static fields and not related to harvesters.

[2015-05-20 09:11] FabiApfelkern opened #68 "Active State of Tab Just White"
I migrated in the bower.json to the new Angular Bootstrap version. This seems to cause a small bug in the tab style. The active state is now only white and the title is not visible.

[2015-05-20 09:11] FabiApfelkern opened #69 "Dataset Form - Rotate data"
https://github.com/policycompass/policycompass-frontend/issues/42

[2015-05-20 09:12] FabiApfelkern opened #70 "Count in titles"
https://github.com/policycompass/policycompass-frontend/issues/31

[2015-05-20 09:13] FabiApfelkern opened #71 "Automated Data Harvesting"
* select 5 data portals to support (eurostat, worldbank, un, oecd,european open data portal)
* create templates for these portals, provided the data is standardized
* allow user to enter url for the dataset, if available use the portal's API to grab the data set and apply it to the predefined template

[2015-05-20 09:29] FabiApfelkern opened #72 "Including Grunt into Frontend Stack"

[2015-05-20 09:29] FabiApfelkern opened #73 "Frontend Loading Indicator"

[2015-05-20 11:09] almey opened #74 "Auto fill form with chosen Event from web service"
_From @almey on May 12, 2015 16:4_

_Copied from original issue: policycompass/policycompass-frontend#102_

[2015-05-20 11:11] almey opened #75 "Create Events Extraction results page"
_From @almey on May 12, 2015 16:3_

Results for Events that can be extracted from the web services

_Copied from original issue: policycompass/policycompass-frontend#101_

[2015-05-20 11:11] almey opened #76 "Provide Events extraction Search form"
_From @almey on May 12, 2015 15:57_

Provide options to search by name, date or category to search for historical events in external web services

_Copied from original issue: policycompass/policycompass-frontend#100_

[2015-05-20 11:12] almey opened #77 "Implement plugin system to extend extractor for multiple webservices"
_From @almey on May 12, 2015 15:54_

_Copied from original issue: policycompass/policycompass-services#26_

[2015-05-20 11:12] almey opened #78 "Provide Events Extraction via REST API Service"
_From @almey on May 12, 2015 15:53_

_Copied from original issue: policycompass/policycompass-services#25_

[2015-05-20 11:13] almey opened #79 "Implement Data schema for extracted Events"
_From @almey on May 12, 2015 15:50_

_Copied from original issue: policycompass/policycompass-services#24_

[2015-05-20 11:13] almey opened #80 "Implement Transformator to query different Events Services"
_From @almey on May 12, 2015 15:49_

_Copied from original issue: policycompass/policycompass-services#23_

[2015-05-20 11:13] almey opened #81 "Implement Connector for Events Data Services"
_From @almey on May 12, 2015 15:48_

_Copied from original issue: policycompass/policycompass-services#22_

[2015-05-20 11:25] rukala opened #82 "As an external application, I want to add content through the API"
We need to be able to authenticate external applications (i.e. PolicyCompass services) in order to:

- Allow Carneades to add arguments map to existing discussion resources (for user story `DS4ff`).
- Allow other services (Metrics, Visualization, FCM...) create discussion topic resources (instead of doing the same from the frontend through the ad-hoc `ExternalResource` hack)

A rather simple solut

[2015-05-20 11:26] rukala opened #83 "As an external index, I want to receive updates when A3 content changes"
A3 content (discussions / requests) shall be found by the central PolicyCompass search.

This requires

- the A3 backend to ping the PCompass search service on each create/update (LIQD)
- the PCompass search service to know how to index discussions (NTUA)

[2015-05-20 11:27] rukala opened #84 "As a user, I want to list all discussions in a central place"
PCompass discussions are currently spread around the platform.

In year 2, `ExternalResources` need to be searchable (#81) and listed in a central place, categorized by the item type they refer to (metric, visualization, fcm).

They should also include a URL to the referer object.

Open question: How to display in list what this discussion refers to? Just a URL is not really useful.

Options:

- P

[2015-05-20 11:28] rukala opened #85 "As a user, I want to request new metrics, visualizations and FCMs"
I'd propose to

- create a new resource type `Request`,
- which is basically just a renamed simple proposal (title, description; commentable, supportable).

No further semantics is attached. In the comments, users can then post links to their creations.

This is more important than #84.

[2015-05-20 11:38] nidico opened #86 "Implement metrics model"
This is mainly about modeling the metrics formulas.

[2015-05-20 11:39] nidico opened #87 "Implement metrics validation"
The `add / edit` metrics POST / PUT REST views need to validate formulas.

[2015-05-20 11:43] nidico opened #88 "Metrics operationalisation"
A given metric can be operationalized by applying concrete datasets to the properties used in the metric formula.

An operationalized metric will be stored as a dataset.

[2015-05-20 11:45] nidico opened #89 "Theme Adhocracy similar to PolicyCompass"
Adjust colors, basic fonts etc in order to make it look like a part of PolicyCompass.

[2015-05-20 11:50] nidico opened #90 "Implement proper metrics editing / copying with auth"
Only the creator or an admin shall be able to edit metrics.

In order to do this use session validation as described [in the wiki](https://github.com/policycompass/policycompass/wiki/Auth-Service).

[2015-05-20 11:54] nidico opened #91 "Document how to use Auth service"
Current documentation is here: https://github.com/policycompass/policycompass/wiki/Auth-Service

This should be extended by:

- What *excactly* do the backend services need to call and check for in order to find out whether a token is valid and to which role a user belongs?
- What does the frontend need to do in order to check whether a user is logged in or is admin? (Will be used by #121)
- How t

[2015-05-20 11:56] nidico opened #92 "Add more development instructions in README"
In particular:

- How to work with supervisor while developing a backend component
- How to use services from the internet instead of local (e.g. designers)

[2015-05-20 11:58] mmilaprat opened #93 "Add directive to chardin"
related with:
policycompass/policycompass-frontend#93

pull request:
policycompass/policycompass-frontend/pull/103

[2015-05-20 12:05] nidico opened #94 "Update Adhocracy deployment"
Make sure Adhocracy deployment works and is pinned to a current version. See also #16. Depends on #95.

[2015-05-20 12:05] nidico opened #95 "Create dedicated PolicyCompass platform in Adhocracy"

[2015-05-21 08:29] mmilaprat opened #96 "Restrict visualisations editing to creator"
Only the creator shall be able to edit visualisations.

[2015-05-21 08:36] mmilaprat commented on #73
there is this possibility:

<div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
</div>

It is used in visualisations. Are you refereing to use something like this?

[2015-05-21 08:39] mmilaprat commented on #68
It's solved in the new style?
can you check here:

https://frontend-stage.policycompass.eu/app/

[2015-05-21 08:41] mmilaprat commented on #63
duplicated, the same issue is in:

policycompass/policycompass/issues/93

[2015-05-21 08:41] #63 closed

[2015-05-21 08:49] nadiapo opened #97 "revise UI design of visualisation screens"

[2015-05-21 08:51] FabiApfelkern commented on #68
I checked alreday. It is not. The tabs were not redesigned yet.

[2015-05-21 08:52] FabiApfelkern commented on #73
Yes in this direction. But I was think about a more global one. More like e.g. YouTube has it on the top of the site.

[2015-05-21 09:37] nadiapo opened #98 "Improve "How it Works""

[2015-05-21 10:10] nadiapo opened #99 "Create I want to wizard"
Based on
http://policy.atosresearch.eu/want.html
http://policy.atosresearch.eu/want2.php

[2015-05-21 11:41] nadiapo commented on #64
will add as described here
https://creativecommons.org/choose/results-one?license_code=by-sa&amp;jurisdiction=&amp;version=4.0&amp;lang=en

[2015-05-22 07:17] FabiApfelkern commented on #34
Duplicated: #94

[2015-05-22 07:17] #34 closed

[2015-05-22 07:21] FabiApfelkern commented on #23
@nidico @slomo Is it possible to get this within Sprint 1? At least a possibility to update everything with the Makefile. I think it is not suitable at the moment.

[2015-05-25 07:02] mmilaprat commented on #73
we can check the ngprogress directive (http://victorbjelkholm.github.io/ngProgress/ )

[2015-05-26 12:48] mmilaprat commented on #68
Hi,
can you tell me the exact Angular Bootstrap version?
and, can you add a screenshot?

[2015-05-26 13:05] FabiApfelkern commented on #68
Just check the Bower.json file for the version. I can send you a screenshot later this week but the error is pretty obvious when you are using the tabs eg in the Metrics Manager.

[2015-05-26 15:05] mmilaprat commented on #99
a new directive has been created to add this functionality.

Probably the help texts and links must be updated, but the functionality can be checked.

A new pull request is in the fork https://github.com/bullz/policycompass-frontend

[2015-05-26 15:06] mmilaprat commented on #73
In the pull request of the new UI there is a loading indicator

[2015-05-26 15:10] mmilaprat commented on #68
please, send me the screenshot because I cannot reproduce the problem

[2015-05-27 08:42] FabiApfelkern commented on #68
![screenshot 9](https://cloud.githubusercontent.com/assets/1488424/7832147/0d562fa2-045d-11e5-9220-a0e0b360d99d.png)

Just hover over a Tab.

[2015-05-27 08:48] mmilaprat commented on #68
ok, you're right. Sorry, I had misunderstood this issue. I had understood that the tab was white.

[2015-05-27 08:54] FabiApfelkern commented on #68
Yes the original bug was a little bit different. The new design changed it.

[2015-05-27 09:10] mmilaprat commented on #68
Can you check if the pending pull request of the new UI solves the problem?

[2015-05-31 13:15] FabiApfelkern opened #100 "Comments on New Design and User Interface"
All comments reagrding the new Design (stage.policycompass.eu) should be posted here.

[2015-05-31 13:23] FabiApfelkern opened #101 "Clean Up of SASS and CSS"
The use of CSS and SASS and they integration in the Frontend is a mess!
At the moment we have both CSS and SASS files. We HAVE to decide for one of them and I guess it is SASS:
 - All CSS files have to be removed from the repository
 - There is a SASS file under modules/common/sass. Is this used?
 - The SASS configuration should not be in the app folder, since all commands are executed in base dir

[2015-05-31 13:32] FabiApfelkern commented on #68
This is fixed with: https://github.com/policycompass/policycompass-frontend/pull/85

[2015-05-31 13:32] #68 closed

[2015-05-31 13:34] FabiApfelkern commented on #73
The Loading Indicator looks very good so far. We have to evaluate in more in action during the next weeks. However it does not t cover yet the initial loading of the page, because the indicator itself is not loaded in this moment. But we can work on it later.

[2015-06-01 15:11] #95 closed

[2015-06-02 09:37] rukala opened #104 "Write Deliverable 3.2"

[2015-06-02 11:24] slomo commented on #33
I'd rather fix the build process than committing a 36 megabyte zip file to the repository.

[2015-06-02 13:01] FabiApfelkern commented on #33
Ok, I understand your point.

[2015-06-02 13:01] #33 closed

[2015-06-03 11:55] nidico commented on #16
Done.

[2015-06-03 11:55] #16 closed

[2015-06-03 11:56] nidico commented on #15
Irrelevant, because we're not using nix anymore.

[2015-06-03 11:56] #15 closed

[2015-06-03 11:57] nidico commented on #94
Adhocracy has been updated on both servers and is now working again.

[2015-06-03 11:57] #94 closed

[2015-06-03 12:12] FabiApfelkern commented on #94
I cannot see it in the Frontend?

[2015-06-03 12:20] YuriGlickman opened #105 "Menu "Create" elements"
In the Menu "Create" rename:
"Create Datasets" to "Upload Datasets"
"Create Properties" to "Define Indicators"
"Create Metrics" to "Define Metrics"
"Create Historical Events" to "Register Historical Events"
"Create Visualisations" to "Visualise Data"
"Create Causal Models" to "Create Causal Models"

[2015-06-03 13:31] mmilaprat opened #106 "visualisation charts"
create a more responsive charts

[2015-06-03 14:03] YuriGlickman opened #107 "Grey on grey"
Grey text on grey background is difficult to read. How is about to make the light grey text (like "Policy Compass will simplify the way to..." at http://stage.policycompass.eu/ ) darker to increase the contrast?

[2015-06-03 15:09] YuriGlickman opened #108 "Portal main colours"
The brown color in the portal combined with grey looks good (at least better than green), but it would be good to see several other possible compibantions with grey: dark orange, dark blue, etc. So, we could make the optimal choice

[2015-06-05 13:50] nadiapo commented on #98
Revision of explanatory text; make it more readable, understandable
Use parallax.js for scroll effects

[2015-06-06 10:13] FabiApfelkern commented on #70
Done here: https://github.com/policycompass/policycompass-frontend/pull/106

[2015-06-06 10:13] #70 closed

[2015-06-07 18:02] FabiApfelkern commented on #45
Done: https://github.com/policycompass/policycompass-services/pull/27

[2015-06-07 18:02] #45 closed

[2015-06-07 18:02] FabiApfelkern commented on #44
Done: https://github.com/policycompass/policycompass-services/pull/27

[2015-06-07 18:02] #44 closed

[2015-06-09 11:33] #105 closed

[2015-06-09 11:34] #93 closed

[2015-06-10 13:14] nadiapo commented on #99
need to revise each step, help text and initial screens

[2015-06-12 08:59] mmilaprat opened #109 "Center charts into the "chart view" to be used in embed functionality"
Center charts in the view "/visualizations/graph/:id"

This will be used into the embeed functionality

[2015-06-12 09:33] nadiapo commented on #108
Decided on maintaining the menu grey and provide the main colour in dark orange.
Grey text should be made slightly darker.
Need to try to make menu tab a little smaller in hight
Add a new menu item, "Discussions", before the Request menu item

[2015-06-12 09:34] nadiapo commented on #107
Included in #108

[2015-06-12 09:34] #107 closed

[2015-06-12 10:15] nadiapo commented on #96
As agreed in the meeting, everyone will be able to edit content. If the user editing is not the same as the creator, the Save as button will guide him to save under new metadata, such as title, etc. So the content will be saved in a new form as new one and the previous will not be modified.

[2015-06-12 10:18] nadiapo commented on #90
As discussed in the meeting, all content in PC will be editable. If the user editing is not the owner of the content, when saving, new metdata will need to be provided by the user so that content will be saved as new.

[2015-06-12 10:20] nadiapo commented on #84
Discussions will be listed under a new menu item called Discussions

[2015-06-12 10:21] #64 closed

[2015-06-12 10:30] nadiapo opened #110 "Map visualisation base colour"
Look into the possibility to select a base colour for maps and based on that do graduations

[2015-06-12 10:33] nadiapo opened #111 "Line charts initial colours"
Look into by default assigning totally different colours in line charts so that there is clear difference on the trend lines

[2015-06-12 10:34] nadiapo opened #112 "Chart "zooming""
Look into the possibility to "zoom" into specific parts of visualisations by changing the start and/or end date of visualisations.
When user selects datasets, he must be able to avoid a period of time from the begining or/and from the end.

[2015-06-12 10:37] nadiapo opened #113 "List related FCMs under a visualisation"
Under a visualisation we need to list related FCMs based on the indicators of the visualisation

[2015-06-12 10:39] nadiapo opened #114 "FCM needs to expose an API that lists FCMs based on one or more indicators"

[2015-06-12 10:49] mmilaprat commented on #112
Is not a zoom. The  idea is to be ablle to change the start date and the end date of charts (not only line charts).

When user selects datasets, he must be able to avoid a periood of time from the begining or/and from the end.

[2015-06-12 11:01] nadiapo opened #115 "Instatiate an FCM from a specific visualisation based on the indicators"
Need to be able to instatiate an FCM from a visualisation, passing the list of indicators from the visualisation. The FCM need to prepopulate the concepts based on the list of indicators passed.

[2015-06-12 11:05] nadiapo opened #116 "Sharing to SN buttons"
Design where and how the sharing to SN buttons will appear.
First we need the list of links that we need to provide. Which SN´s we will share?

[2015-06-12 12:22] mmilaprat opened #117 "when the chart line directive is used into a tab, the intial width is not correct"
When the directive to plot chart is used in a tab in the FCM, the initial with is incorect

[2015-06-16 11:54] nadiapo commented on #101
- There is a SASS file under modules/common/sass. Is this used?
No, this has been removed

Regarding the rest of the ticket, we need to investigate how to configure SASS within node.js in order to compile on the fly css files

[2015-06-16 11:55] nadiapo commented on #97
We still have pening to review visualisation viewer screen

[2015-06-16 12:04] nadiapo commented on #55
We already provided the first steps of the wizard, please let us know if further help is needed for non-common elements

[2015-06-16 12:17] nadiapo commented on #62
we will provide an html proposal for the metrics manager wizard

[2015-06-17 08:27] #81 closed

[2015-06-17 08:27] #80 closed

[2015-06-17 08:27] #79 closed

[2015-06-17 08:27] #78 closed

[2015-06-17 08:27] #76 closed

[2015-06-17 09:26] nidico opened #118 "Use local font instead of webfonts"
We currently load some font from Google instead of local (`http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,400`).

As far as I remember, we decided to deliver all assets locally, in order to not make our users trackable by Google or other CDNs.

Furthermore, the Google font is loaded through `http` instead of `https`, which makes the frontend throw an error when deployed with `https`.

[2015-06-17 09:30] nidico opened #119 "Make sure deployment script can be executed multiple times"
We should make sure that our makefile can be executed without overwriting local changes.

@slomo: Can you please check?

[2015-06-17 09:39] nidico opened #120 "Fix Adhocracy websocket setup"
Adhocracy websockets aren't currently properly set up, no both alpha and stage.

@slomo: can you please have a look? If the outer nginx server needs to be configured differently, could you please ask the `pcompass-tech` list?

[2015-06-17 09:42] #36 closed

[2015-06-17 09:42] #37 closed

[2015-06-17 09:42] #38 closed

[2015-06-17 09:59] nidico opened #121 "Auth frontend module should expose user and role"
The `auth` angular service should expose which user is currently logged in and which role this user has.

This can then be used by other services in order to find out whether to display `edit` / `delete` buttons below metrics and things.

[2015-06-17 10:01] nidico commented on #91
Updated the description as discussed in Cambridge. Bump to sprint 2.

[2015-06-17 10:29] aquinas9 opened #122 "change tap order in edit mode"
=> as-is: “Model detail”-“Run Simulation”-“Simulation Results”-“Graph”-“Comment”
=> to-be: “Run Simulation”-“Simulation Results”-“Graph” - “Model detail” -“Comment”

[2015-06-17 10:30] aquinas9 opened #123 "showing the weigth after running simulating model"
after running simulation, the weight value should be reflected to causal map

[2015-06-17 11:10] nidico opened #124 "Setup mailserver properly for Adhocracy"
The deployment on alpha and stage currently use the development mail queues.

Instead, the mails should be really sent out to the internet.

[2015-06-17 11:18] nidico opened #125 "Trigger stage rebuild on travis success"
If travis passes, it should trigger a rebuild on the staging server.

In Cambridge, we talked about adding a special route which calls the rebuild, which can also be called manually.

[2015-06-17 12:00] nidico commented on #19
See also #119.

[2015-06-17 12:13] mmilaprat commented on #54
done

[2015-06-17 12:13] #54 closed

[2015-06-17 12:32] nidico opened #126 "Dedicated login & register pages"

[2015-06-18 09:20] mmilaprat opened #127 "Line charts creates e_awsnap error in Chrome"

[2015-06-18 13:50] FabiApfelkern opened #128 "Set Body Temp Path of nginx"
There where some API calls which failed without an obvious reason. Most notable saving large FCM graphs and uploading files to the Metrics Manager. I debugged it and figured out that nginx had no access rights to its body temp path which is apparently needed for handling large requests. So I created a directory in the policycompass home folder and set this directory as client_body_temp_path in the

[2015-06-18 13:50] FabiApfelkern commented on #128
@slomo Can you do this please in Sprint 2?

[2015-06-19 13:51] belalakbar opened #129 "Changing the interface look"
Replacing the edit button with simulation which will lead to run simulation window instead of model description

Adding the save as button so the new model can be saved after editing with new model description
However the save button will do the save in same model description
Now both save and save as button will show the live changes in window after editing

[2015-06-19 13:52] belalakbar opened #130 "Changing the functionality of FCM"
The fixed value tab will be removed and new function will be added in the algorithm, which automatically detects the fixed value.

The advance setting for activator function will be provided.

[2015-06-19 13:53] belalakbar opened #131 "Saving the values of FCM model"
The values given in run simulation function will be saved after user it the run simulation tab and can be seen when the model is uploaded again in show concept tab (also possibly in the run simulation value)

The weight of the concept connection will be shown in model by replacing the “?” sign in simulation result tab.

[2015-06-30 10:09] mmilaprat opened #132 "posibility to hide units from x axes in line charts"
For FCM the units of the x axe are not needed. they wish to view only values (example, 0, 0.4, 1, not values like 0.4m)

[2015-06-30 11:07] #132 closed

[2015-06-30 13:28] nadiapo commented on #97
done

[2015-06-30 13:28] #97 closed

[2015-06-30 13:28] nadiapo commented on #108
done

[2015-06-30 13:28] #108 closed

[2015-06-30 16:45] slomo commented on #124
Fixed on alpha, waiting for firewall config on stage.

[2015-06-30 16:45] #124 closed

[2015-07-01 08:07] FabiApfelkern opened #134 "Keyword Management"
- Keywords shouldn't be a single string, but an array
- Management by Reference Pool

[2015-07-07 09:46] mmilaprat opened #135 "searchmanager must be updated to index datasets"

[2015-07-15 08:56] #39 closed

[2015-07-15 08:57] #42 closed

[2015-07-15 08:57] #43 closed

[2015-07-15 08:58] #41 closed

[2015-07-15 08:58] #40 closed

[2015-07-15 10:26] nidico commented on #128
Fixed with #137.

[2015-07-15 10:26] #128 closed

[2015-07-15 10:26] nidico commented on #119
Fixed with #137.

[2015-07-15 10:26] #119 closed

[2015-07-15 11:08] #75 closed

[2015-07-15 11:08] #74 closed

[2015-07-15 11:32] #55 closed

[2015-07-15 11:43] nadiapo commented on #62
will upload on github tomorrow. screenshots attached
![capturas policy](https://cloud.githubusercontent.com/assets/4747814/8697698/76094d02-2af7-11e5-8dca-876e1ad64fa1.png)
![capturas policy-2](https://cloud.githubusercontent.com/assets/4747814/8697701/796dec96-2af7-11e5-8dde-ca97719b78a0.png)
![capturas policy-3](https://cloud.githubusercontent.com/assets/4747814/8697706/7f19d9fc-2af7-11e5-8143-8

[2015-07-15 11:52] #118 closed

[2015-07-15 11:53] #135 closed

[2015-07-15 11:59] cbotsikas opened #138 "Implement search aggregations (facets)"

[2015-07-15 12:17] #131 closed

[2015-07-15 12:17] #129 closed

[2015-07-15 12:18] #123 closed

[2015-07-15 12:18] #122 closed

[2015-07-16 06:50] mmilaprat commented on #127
done

[2015-07-16 06:50] #127 closed

[2015-07-16 06:51] mmilaprat commented on #117
done

[2015-07-16 06:51] #117 closed

[2015-07-16 06:51] mmilaprat commented on #106
done

[2015-07-16 06:51] #106 closed

[2015-07-16 07:50] FabiApfelkern opened #139 "Policy Domain Directive Preselection"
The pre-selectin of value in the Policy Domain Select directive does not work properly.

[2015-07-16 07:54] FabiApfelkern opened #140 "Frontend Logic for Dataset Manager"
- Connect the Frontend with the Backend

[2015-07-16 11:00] aquinas9 opened #141 "Unifying the scale for a model - functionality inprovement"
AS-IS - every concept can have scale option so user need to set up the scale for every concepts

TO-BE - Scale will be determined by Model-based; One model has one fuzzy scale for every concepts

[2015-07-16 11:48] FabiApfelkern commented on #101
@nadiapo @mmilaprat Can we put this into Sprint 3?

[2015-07-16 12:06] #29 closed

[2015-07-16 12:10] FabiApfelkern opened #142 "Simplify Use of Signals for Indexing"
The integration of the automatic search index update is very redundant. Each Django app uses more or less the same logic and code.
- Can this be simplified?
- If yes, do it!

[2015-07-16 12:10] FabiApfelkern commented on #126
Can we have this in Sprint 3?

[2015-07-16 12:11] FabiApfelkern commented on #100
I think this ticket is not need anymore. If there is a comment, please create a new one.

[2015-07-16 12:11] #100 closed

[2015-07-16 12:13] FabiApfelkern commented on #73
I think a intitial loader is in work in progress. Can we put this to Sprint 3?

[2015-07-16 12:15] FabiApfelkern commented on #65
@th0br0 Can we get something here in Sprint 3? An early HTML mockup with no real function would be ok.

[2015-07-16 12:16] FabiApfelkern commented on #30
Is this still an issue?

[2015-07-16 12:16] FabiApfelkern commented on #28
I think @mmilaprat did this.

[2015-07-16 12:16] #28 closed

[2015-07-16 12:17] FabiApfelkern commented on #19
Is this still an issue?

[2015-07-16 13:28] FabiApfelkern opened #143 "Metrics Manager API"
The New Metrics Manager needs its own API.
@nidico I think this should happen in Sprint 3!

[2015-07-16 13:37] lfarid opened #144 "Implement facet search"
- Needs controlled lists for the criteria to refine the search results by.
- Lists could also be based on meta data of available artifacts (datasets, metrics, events, ... etc.) and be dynamically populated.

Would be nice to have this done by sprint 3.

[2015-07-16 13:48] lfarid opened #145 "Create association should be active only if 2 concepts already exist and put the save confirmation message"
same applies for the button 'save model'

[2015-07-16 13:55] cbotsikas commented on #144
Duplicate to #138. Closing this one.

[2015-07-16 13:55] #144 closed

[2015-07-16 14:19] FabiApfelkern opened #146 "Revise Icons of Search Results"
The icons of the different content types (Visualisation, Dataset, Metric) look too similar and are sometimes not very significant for the respective content. Some other design proposals would be great.

[2015-07-16 14:25] YuriGlickman opened #147 "Buttons for FCm editor"
We need new buttons for FCM editor. They (see the four blue buttons below the editor) should be in the same style as in other components
https://frontend-stage.policycompass.eu/app/#/models/create

Personally, I think it is better to have small buttons over the top of the editor window similar like we have for visualisation.

Maybe this ticket has to be readdressed to Bilal...

[2015-07-16 14:26] FabiApfelkern opened #148 "FCM Manager Postgresql Migration Process"
We do need a way to migrate the Database, when the models change. It is not practical anymore to delete the database anytime. In my opinion this cannot be solved directly with Hibernate. You probably need SQL migrations scripts.
@belalakbar Can you do this in Sprint 3.

[2015-07-16 15:24] YuriGlickman opened #149 "Rename "FCM" to "Causal Model""
Rename "FCM" to "Causal Model" in "Create a New FCM Model" and in all other places

[2015-07-16 15:26] YuriGlickman opened #150 "Remove "Scale" from the FCM's "Add Concept" dialogue"
Remove the "Scale" filed from the FCM's "Add Concept" dialogue to advanced options (or different place).

The Description field has to be optional. In many cases it is not needed

[2015-07-16 15:28] aquinas9 opened #151 "Linkage between Concepts and Indicators"
Concepts will be linked to the indicators that have concrete datasets.
Need to develop Interface to search relevant indicators

[2015-07-16 16:05] YuriGlickman opened #152 "Creat Association dialogue"
1) Rename the window name from "Association" to "Create Association"
2) Add a field with a drop dow list for weight:
- Very strong positive
- Strong positive
- Weak positive
- Very week positive
- Very week negative
- Weak negative
- Strong negative
- Very strong negative

or something similar with more or less predefined values. I think 4 for each direction should be enough
1.0 Very strong
0.75 S

[2015-07-16 16:16] nidico commented on #143
Realistically not, due to holidays, so this will be done in sprint 4. This is not too bad because no other component depends on the metrics manager.

[2015-07-16 16:18] YuriGlickman opened #153 "Save Model Dialogue"
In the Save Model Dialogue change the following:
1) Rename the "FCM Model" dialogue to "Causal Model Attributes"
2) "Policy domains" window should be bigger and font size in it should be smaller
3) After saving I see 2 pop-up windows. The second one is not needed. As I understand you are using it for debugging, but you can deactivate it for the success case.

[2015-07-16 18:38] cbotsikas opened #154 "Create share/embed modal window"
We need a new modal window (and a share button) for visualization and FCM.
This window should have two tabs (or two sections), to include social media share buttons and embeddable snippet.
![sharemockup](https://cloud.githubusercontent.com/assets/1640100/8731881/7566fefe-2bfa-11e5-8846-17a222667922.png)

[2015-07-16 18:39] cbotsikas commented on #154
#116 and #60 are related

[2015-07-16 18:40] cbotsikas opened #155 "Change angular routing to hashbang mode"

[2015-07-16 18:41] cbotsikas opened #156 "Create embendable light view for Visualisation"

[2015-07-16 18:41] cbotsikas opened #157 "Create embendable light view for FCM"

[2015-07-16 18:42] cbotsikas opened #158 "Create chart thumbnail"

[2015-07-16 18:42] cbotsikas opened #159 "Create FCM thumbnail"

[2015-07-16 18:43] cbotsikas opened #160 "Provide opengraph metatags for bots"

[2015-07-16 18:48] cbotsikas opened #161 "Allow Social Media and Web Interaction"
Sub-issues:
- [ ] #154
- [ ] #155
- [ ] #156
- [ ] #157
- [ ] #158
- [ ] #159
- [ ] #160

[2015-07-16 19:06] cbotsikas commented on #116
Since we are implementing the hashbang routing for the application, we are limited to the following popular SNs:
Facebook, Twitter, VKontakte, LinkedIn and Google+

[2015-07-16 19:09] cbotsikas commented on #60
I'll close this since it's too generic and now part of the #154

[2015-07-16 19:09] #60 closed

[2015-07-16 19:13] cbotsikas commented on #59
I've split this to #156 and #157

[2015-07-17 07:28] FabiApfelkern commented on #89
@nidico Nobody is assigned to this one!?

[2015-07-17 08:15] th0br0 commented on #65
Sure, something like that is should be doable.

[2015-07-17 14:44] aquinas9 commented on #150
As we described in other ticket, maybe this option will be moved to simulation stage.
Fundametally, we will unifiy the sclae for same model. Setting different scale for each conepts will be an advnaced option.

[2015-07-17 15:09] cbotsikas commented on #130
@aquinas9 why is this closed? The PR is still pending. @belalakbar can you review the PR?
https://github.com/policycompass/policycompass-frontend/pull/122

[2015-07-17 15:13] aquinas9 commented on #130
We will review the pull request! It happend just becasue the function has been implemented in bilal's localhost. we will check again.

[2015-07-17 15:18] cbotsikas commented on #130
Is it possible to have it mergeable by Monday so that we can merge and tag the repositories with new version since sprint 2 is over, or shall we move this for Sprint 3?

There is also a PR for fcmmanager: https://github.com/policycompass/policycompass-fcmmanager/pull/10
I guess it's related with the pending one on frontend?

[2015-07-20 10:59] #62 closed

[2015-07-20 13:49] belalakbar commented on #148
What does mean by migrate the Database? Actually I made some changes in the database structure according to new functionalities. So, we need to update these changes on the live server.

If you mean that existing data should be save before remove then definitely we need to write script to save the data and again restore the data.

[2015-07-20 13:56] mmilaprat commented on #148
Hi,
for the visualisation can be a problem if we need to migrate content from "the old" database structure to the "new one".

The new visualisation functionalities works with datasets, not with metrics.

[2015-07-20 13:56] FabiApfelkern commented on #148
Yes, we need a way to migrate your database scheme and keep existing data. This is usually done with SQL migration scripts, which transform the database from one state into another.

[2015-07-20 13:57] FabiApfelkern commented on #148
@mmilaprat This is just about FCM Hibernate. What do you mean with Visualisation here?

[2015-07-20 14:01] mmilaprat commented on #148
I mean. a migration from visualisations is needed? At this moment it seems that there isn't any "real" chart and we don't know the possible relation between the existing metrics and the new datasets.

[2015-07-20 14:04] mmilaprat commented on #148
forget my comments.

This is just for FCM.

[2015-07-20 16:12] belalakbar commented on #130
This issue has been solved and changes made in both fcmmanager and frontend and I did PR on both for this.

[2015-07-20 16:29] belalakbar commented on #159
Can you give a bit more description?

[2015-07-21 03:38] cbotsikas commented on #130
@belalakbar If you are referring to PRs https://github.com/policycompass/policycompass-frontend/pull/122 and https://github.com/policycompass/policycompass-fcmmanager/pull/10 the first one (frontend) is not mergable and you have to fix it. Otherwise i don't see any new PR. We need to tag the repositories ASAP, before we can start pushing/merging sprint 3 work. If you can't fix it in time, we'll mo

[2015-07-21 03:55] cbotsikas commented on #62
Merged https://github.com/policycompass/policycompass-frontend/pull/123

[2015-07-21 04:17] cbotsikas commented on #159
@belalakbar as we discussed on previous meetings, we need a static image representation of each FCM model so that we could use it for the social media interaction.This procedure is also needed for Visualization (https://github.com/policycompass/policycompass/issues/158) where we already have a prototype in NodeJS. using a headless browser to capture the image. We might end up using the same techni

[2015-07-21 12:38] mmilaprat opened #162 "Spatial field"
The spatial field of the datasest API must be an array of ids.

[2015-07-22 04:26] nidico opened #163 "Make creates wrong symlinks on ubuntu"
Due to a bug in coreutils, which got fixed in 8.22 [(ln --relative now updates existing symlinks correctly)](https://savannah.gnu.org/forum/forum.php?forum_id=7815), the makefile creates wrong symbolic links (e.g. `etc/nginx.conf`, `policycompass-services/config/settings.py`) on every second run.

[2015-07-22 05:06] nidico opened #164 "Add AGPLv3 LICENSE files"
All repositories shall clearly state that the code is licensed under GNU AGPLv3.

@nidico will take care.

[2015-07-22 06:25] nidico commented on #126
I'll tell today.

[2015-07-22 07:56] nadiapo commented on #101
we prefer to focus on other design tasks and leave this task for later

[2015-07-23 01:30] #19 closed

[2015-07-23 01:35] nidico commented on #120
This is supposed to be fixed, but can't be tested on the staging server atm because adhocracy can't build because github connectivity issues.

Let's keep this open until tested, but don't move it to the next sprint.

[2015-07-23 01:47] #164 closed

[2015-07-23 07:12] FabiApfelkern commented on #148
Ok, what about it? Can you put it in Sprint 3? Thanks!

[2015-07-23 07:13] FabiApfelkern commented on #126
Any decision here?

[2015-07-23 07:16] FabiApfelkern commented on #101
Can you please reconsider? I think it is very important to have this cleaned up. Because its not just Atos which is working with the styles and so. We all have to extend the frontend and we need a clean way to do this. I am personally not sure where to modify styles at the moment. Thank you!

[2015-07-23 07:38] FabiApfelkern commented on #130
@belalakbar Can we please merge this by today?

[2015-07-23 07:49] nidico commented on #126
I wanted to look at the size while implementing the #121, but I moved that task to ~~my holidays~~ next week.

Well let's put it in sprint 3.

[2015-07-23 09:51] almey opened #170 "write plugin and connector to extract events from dbpedia"

[2015-07-23 09:53] almey opened #171 "write plugin to extract events from a RESTful webservice"

[2015-07-23 10:16] nadiapo commented on #101
We will try to have it but we cannot commit to have it done by this sprint.

[2015-07-23 10:33] FabiApfelkern commented on #101
Thank you!

[2015-07-24 09:47] nadiapo opened #172 "Change colours of portal"
Colours: Black/Orange
https://www.dropbox.com/s/b7ucsuwujbtlxfe/000000_EA8C00.png?dl=0
I used #000000 (for Black) and #EA8C00 (for Orange)

[2015-07-24 09:48] nadiapo opened #173 "Change homepage design"
Layout: thin menu, logo in the middle of the home page
https://www.dropbox.com/s/6t4ic7f35ezunzg/new_home-center.png?dl=0

[2015-07-27 16:05] belalakbar commented on #153
Model save dialog, we use the <div class="modal-body">, I am unable to find the style for the model-body in the project. Who can tell about this?
This will affect this thing:
2) "Policy domains" window should be bigger and font size in it should be smaller

[2015-07-28 11:26] belalakbar commented on #130
Yes Fabian merge, this functionality has already appear in the live server.

[2015-07-28 12:59] cbotsikas commented on #130
@belalakbar how is this functionality in live server?? With which commits? Can you provide links?

There are two pending Pull Requests related with this issue.
One for the frontend, which *we can not merge* unless you fix it: https://github.com/policycompass/policycompass-frontend/pull/122
And one for the FCM manager here: https://github.com/policycompass/policycompass-fcmmanager/pull/10

[2015-08-03 09:33] FabiApfelkern commented on #153
Actually Brunel has developed this, so you should know best. :)
But the modal is defined here: https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/fcm/controllers/cytoscape.js
in line 953.

[2015-08-04 09:54] belalakbar commented on #130
issue 130 state that  "The fixed value tab will be removed and new function will be added in the algorithm, which automatically detects the fixed value."
 @cbotsikas the functionality on live server means, that on stage-policy compass this function is properly working as it required

[2015-08-04 10:06] belalakbar commented on #153
@ Fabian, yes brunel are the main contributor in FCm but for the style, class " model-body", which I am unable to find (probably given by design team)  . Yuri has asked the nadia to help and I have already send miquel the code I am working on and now waiting for his response to my e-mail.

[2015-08-04 10:13] mmilaprat commented on #153
Last week we send you some emails about it. You didn't receive it?

[2015-08-04 10:18] belalakbar commented on #153
no, my account is changed as
was that account

Bilal.chuddher2@brunel.ac.uk

[2015-08-04 10:25] mmilaprat commented on #153
I'm going to forward the emails

[2015-08-04 10:27] belalakbar commented on #153
thanks

[2015-08-04 14:57] FabiApfelkern commented on #155
In order to avoid any misunderstandings. @cbotsikas Can you point to the exact mode you want to have: https://code.angularjs.org/1.2.27/docs/guide/$location

[2015-08-05 07:30] FabiApfelkern opened #174 "I Want To wizard leads to page reload."
To start a I Want To wizard a link with a trailing slash is used. This leads to a complete reload of the page. This is not desired in a single page application. I understand this was done to force a reload of the wizard directive. But they shoud be another way.

https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/common/directives/wizard.js#L175

[2015-08-05 07:36] FabiApfelkern commented on #148
I guess this is a misunderstanding. It's not about how to load data into the database. It is about the migration of the database schema. At the moment you change your models, e.g. adding or removing a property, it is necessary to delete and re-imitate the tables of the database. This is not practical, since all data is deleted.

[2015-08-05 07:38] #155 closed

[2015-08-05 08:18] #172 closed

[2015-08-05 08:52] #147 closed

[2015-08-05 09:25] belalakbar commented on #148
So I need to make SQL migrations scripts that can be used to migrate the old database schema into new database schema.

[2015-08-05 10:12] FabiApfelkern commented on #148
Exactly! Thats what I proposed in this issue. But you can also do some research what the official Hibernate way is to do that.

[2015-08-05 10:18] belalakbar commented on #148
thanks

[2015-08-06 14:04] belalakbar commented on #148
I checked Hibernate will automatically did this one, so no need any script.

[2015-08-06 14:05] #154 closed

[2015-08-06 14:05] #116 closed

[2015-08-06 14:07] #173 closed

[2015-08-07 07:02] FabiApfelkern commented on #146
@nadiapo Please don't close issues where the code is not in the master. The PR is still open https://github.com/policycompass/policycompass-frontend/pull/131

[2015-08-07 07:05] FabiApfelkern commented on #148
Can you please provide a link to the documentation about this Hibernate feature? The last time I used Hibernate this was not possible. Sometimes it can migrate automatically, but very often it cannot. Es specially when you rename fields or add not-null fields.

[2015-08-07 09:36] mmilaprat commented on #174
resolved

[2015-08-07 09:36] #174 closed

[2015-08-07 09:37] #58 closed

[2015-08-07 09:37] #48 closed

[2015-08-07 09:38] #46 closed

[2015-08-07 09:38] #47 closed

[2015-08-07 09:39] mmilaprat commented on #51
There is one, but as probably we must add more criterias we move it to sprint 4

[2015-08-07 09:41] mmilaprat commented on #57
First version is running. As probably it must be improved I move it to sprint 4

[2015-08-07 09:47] #109 closed

[2015-08-07 09:47] #110 closed

[2015-08-07 09:47] #111 closed

[2015-08-07 09:51] mmilaprat commented on #113
@belalakbar , I need some API that get me the list oof FCM related with a indicator

[2015-08-07 10:37] mmilaprat commented on #112
first version is available

[2015-08-07 11:41] nadiapo commented on #99
Will revise by next Sprint with a more stable version of the functionalities

[2015-08-07 13:53] belalakbar commented on #148
Yes you are right, it cannot work with rename fields or add not-null fields. but next we will add nullable fields so that it can be add in existing table.

[2015-08-10 09:32] mmilaprat commented on #156
There ia a page where the chart appears alone.

An example for this chart:
/app/#/visualizations/id

we can view the chart in this url:
/app/#/visualizations/graph/id

a possibility is to update the current index.html to hide the header.html and the footer.html includes with something like this:

ng-hide="location.path().includes('visualizations/graph/')"

What do you think?

[2015-08-12 11:26] FabiApfelkern commented on #140
The basic logic is done. The wizard logic is provided.

[2015-08-12 11:26] #140 closed

[2015-08-12 11:27] FabiApfelkern commented on #139
This is one by introducing the new style reference pool selection tool. https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/references/directives/forms.js#L161

[2015-08-12 11:27] #139 closed

[2015-08-12 11:28] FabiApfelkern commented on #69
Fixed.

[2015-08-12 11:28] #69 closed

[2015-08-12 12:19] nidico commented on #104
Deliverable has been submitted (already some weeks ago).

[2015-08-12 12:19] #104 closed

[2015-08-12 13:39] FabiApfelkern opened #175 "Deployment via Make destroys symbolic links"
When you execute Make for deployment at least two symbolic links get destroyed. The catalina.sh in bin and the nginx.conf in etc. The application can not be started then with Supervisor.

[code]

[2015-08-12 13:41] nidico commented on #175
Duplicate of #163.

[2015-08-12 13:41] #175 closed

[2015-08-12 13:41] FabiApfelkern opened #176 "Deployment via Make always needs to be executed twice"
Everytime Make is executed for deployment it stops with the following error [1]. If then the Make is just executed again it works. The next execution fails and so on.

[1]
[code]

[2015-08-12 13:42] FabiApfelkern commented on #175
Sorry

[2015-08-12 13:43] FabiApfelkern commented on #163
@nidico Can we fix this until next week, so deployment gets easier.

[2015-08-12 14:31] nidico commented on #176
Duplicate of #163. The broken links are the cause for the error above.

[2015-08-12 14:31] #176 closed

[2015-08-12 14:56] nidico commented on #163
@slomo: can you please fix this when you're back (i.e. next week)?

[2015-08-13 12:10] FabiApfelkern opened #178 "Elasticsearch does not reflect updates"
When an entity in the services backend is changed (via PUT), the changes are not in the Elasticsearch index.

[2015-08-13 12:35] YuriGlickman commented on #153
After sucessful sacing of a model I get a pop-up window with message "Message here" and with the title "FCM". Please replase "Message here" by a meanful text like "The causal model has been succesfully saved" and the header "Confirmation".

[2015-08-13 12:36] YuriGlickman commented on #150
Still pending: "The Description field has to be optional. In many cases it is not needed"

[2015-08-13 12:44] YuriGlickman commented on #152
a possibility to set or edit weight manualy is still missing (see point 2 in the original issue). In many cases users will not use real data for FCM. They should be able to set or change the weights for associations.

[2015-08-13 12:45] YuriGlickman commented on #153
2) "Policy domains" window should be bigger and font size in it should be smaller

[2015-08-13 12:57] YuriGlickman commented on #151
I tried to add metrics to concepts, but after saving the model they are always gone. please check.

[2015-08-14 09:30] FabiApfelkern commented on #56
In Sprint 3 I just managed to develop a subset of the views needed. This will be finished in Sprint 4.

[2015-08-14 09:31] FabiApfelkern commented on #72
This needs more effort than expected and especially documentation and migration communication with all developers.

[2015-08-14 09:31] FabiApfelkern commented on #162
I am not sure about this anymore. We need to discuss it in detail.

[2015-08-14 09:34] FabiApfelkern commented on #101
I think is should be possible in Sprint 4

[2015-08-14 09:37] FabiApfelkern commented on #125
@nidico who is responsible for this?

[2015-08-14 09:39] FabiApfelkern commented on #171
@almey What about it?

[2015-08-14 09:39] FabiApfelkern commented on #170
@almey This is done, isn't it?

[2015-08-14 09:40] FabiApfelkern commented on #146
This is done and in master.

[2015-08-14 09:40] #146 closed

[2015-08-14 09:40] nidico commented on #125
LIQD / @slomo. However we wanted to talk about the physical location of the server beforehand, as we would do it differently at LIQD (SSH) than at FOKUS (HTTPS?). However we didn't talk about that yet. We should do that once the relevant persons are back from holidays.

[2015-08-14 09:41] FabiApfelkern commented on #77
@almey What about this?

[2015-08-14 09:41] FabiApfelkern commented on #65
@th0br0 Can you give an update on this issue?

[2015-08-14 09:41] FabiApfelkern commented on #163
@nidico But we should put it in Sprint 4?

[2015-08-14 09:42] FabiApfelkern commented on #148
I will close this, since you think it is not necessary. I hope you are right.

[2015-08-14 09:42] #148 closed

[2015-08-14 09:43] nidico commented on #163
Ok.

[2015-08-14 09:46] FabiApfelkern commented on #125
Sorry, I haven't told you. I talked to Yuri and he thinks we should keep everything as it is with the servers. And unfortunately we cannot give you root access due to central Fraunhofer security policy. Is it still possible?

[2015-08-14 09:54] nidico commented on #125
I guess. But we'll need another service running behind nginx as nginx doesn't provide simple CGI (at least that's what @slomo said at some point). SSH would be much easier...

Let's discuss this together when @slomo and Yuri are back.

[2015-08-14 10:10] FabiApfelkern opened #179 "Increase Z-Index of Submenu"
The Z-index of the main submenu needs to be increased, as some third-party libraries have higher values. It is currently set to 99.

[2015-08-14 10:26] almey opened #180 "integrate data from http://api.epdb.eu/ into events manager"
the data form the API for European Union legislation is useful for the events manager. unfortunatly the api does not provide a full text search or a search for date ranges. therefore an own api will be created for this case and a dump of the data from http://api.epdb.eu/ will be taken

[2015-08-14 10:27] aquinas9 commented on #153
(1) pop-message
the message was put there to explain the user that they should save model for there use (At the moment, we don't have "user session" for their own usage). Actually the browsed models are not save according to user id. Therefore for cc meeting after discussion we put this message for ccc trial.

But after discussion and your suggestion as user we consider to remove this message and

[2015-08-14 10:28] almey commented on #171
mainly done but data is still missing because of https://github.com/policycompass/policycompass/issues/180 therefore i will move this issue as well to sprint 4

[2015-08-14 10:29] aquinas9 commented on #153
We will close this issues and we will put (2) of this issue into next sprint as a new issues.

[2015-08-14 10:29] #153 closed

[2015-08-14 10:29] #170 closed

[2015-08-14 10:41] aquinas9 commented on #152
"a possibility to set or edit weight manualy is still missing (see point 2 in the original issue). In many cases users will not use real data for FCM. They should be able to set or change the weights for associations."
=> We will discuss about this more with Habin and Bilal. After that, we will create new issues on this. Originally, we understood your message as to remove the numeric editing funct

[2015-08-14 10:41] #152 closed

[2015-08-14 10:46] aquinas9 commented on #150
We need the description for concept for the recommendation in next year. But we will change this filed as optional.

[2015-08-14 10:46] #150 closed

[2015-08-14 10:46] #149 closed

[2015-08-14 10:48] #130 closed

[2015-08-14 11:12] aquinas9 commented on #151
We add the metric to obtain the data from metric to calculate the value of concept. We need to save the calculated value not metric it self. User maybe add different metric for same concept and new will value will be calculated for concept.

However when we will add metric it will automatically generate an API for visualization and metric.
We will do this in next sprint(sprint 4)

[2015-08-14 11:12] #151 closed

[2015-08-14 11:12] #141 closed

[2015-08-14 15:48] aquinas9 opened #181 "Automatic weight and fuzzy value calculation using data"
We will discuss with Fabian regarding how we can get data we want..

Now we can't select specific data from metric.

For example, some metric have data for both spain and germany.

But for the calculation, we need to be able to select one of them..

[2015-08-14 15:49] aquinas9 opened #182 "converting simulation result into linguistic measure"
Now we only can get the result as a floating point between 0 and 1.
In this sprint, we will set up the function supporting linguistic presentation of simulation result.

[2015-08-21 14:06] #56 closed

[2015-08-24 14:15] nidico commented on #143
For the reference, the state of the API as of D2.2 can be read here:

    https://github.com/policycompass/policycompass/wiki/Metrics-Manager-API

[2015-08-25 09:23] slomo commented on #163
As usual there are two ways to fix this:

* Update ubuntu or update coreutils only
* Introduce workaround where files are removed before linking

Since I am trying to keep this compatible with a out-of-the-box Ubuntu LTS I will implement the second option

[2015-08-26 12:26] nidico opened #185 "Embedded Adhocracy should be in the same language as PolicyCompass"
Currently PolicyCompass is always English.

[2015-08-28 07:52] FabiApfelkern opened #186 "Visualisations Color-Picker not Cross-Browser compatible"
The Color-Picker should work on all common Browsers. The screenshot was taken with Safari. In general I think the color picker should be made with purely JavaScript and not with an HTML5 element. So it will look the same in every browser. And I think it is not needed to choose between all RGB colors. It might be enough to have slider with 256 color or so. What do you think?

<img width="1179" alt=

[2015-08-31 11:24] nidico commented on #89
Fixed through #187.

[2015-08-31 14:26] #163 closed

[2015-08-31 19:08] nidico opened #188 "Make sure email activation links are usable"
In the current staging and production installations, the activation links which are sent after user registrations don't lead to the platform, but to `localhost`. This should be fixed.

[2015-09-01 09:39] mmilaprat commented on #186
ok. I'm going to try to find a better solution for the colour picker.

[2015-09-01 11:52] mmilaprat commented on #186
I'm tinking to use this directive:

http://ruhley.github.io/angular-color-picker/

To use it I need to update the angular version from 1.2.27 to 1.3.18. Do you think that this update can be a problem for the platform?

[2015-09-01 12:02] mmilaprat opened #189 "rotate data in "Upload Datasets" (Step 1)"
If you try to "rotate data" with something like this:

1a	"empty cell"	1c
2a	2b	2c
3a	3b	3c

a javascript error appears (Cannot read property 'push' of undefined)

![error_rotate_dataset](https://cloud.githubusercontent.com/assets/6602727/9603599/016504a6-50b2-11e5-8477-41832ac2c496.png)

[2015-09-01 12:28] FabiApfelkern commented on #186
I tried once to update to a newer version of Angular and it caused a lot of problems, because we have so many dependencies. We really should update some day but I think now is not the time. I think we should to this after year 2, so in December. Because we have to migrate the dependencies, test everything and so on. If you want to do this know, go ahead. :)
But you can try to use this directive wi

[2015-09-01 12:42] FabiApfelkern opened #190 "Error popup when creating visualisation from dataset view"
If you want to create a Visualization directly from a dataset view you get an error popup "arrayExtraColumnsMetric is undefined"

Example:
https://alpha.policycompass.eu/app/#!/visualizations/create/?datasets=1

[2015-09-01 12:44] FabiApfelkern opened #191 "Individual selection not working"
The selection or deselection of an individual of a dataset has no effect to the visualization.

[2015-09-01 12:47] FabiApfelkern opened #192 "Show only one Y axe as default"
The option "show only one Y axe" should be the default, when the datasets have the same unit. Moreover it makes no sense to have more than one Y axe when they have the same unit. You cannot compare the values like this. E.g. https://alpha.policycompass.eu/app/#!/visualizations/create/?datasets=1 This graph has no meaning because the scales of the axes are different.

[2015-09-01 12:50] FabiApfelkern opened #193 "Percentage option for Barchart"
There should be the percentage option for barcharts as well.

[2015-09-01 12:53] FabiApfelkern opened #194 "Rename Delete Buttons in Visualization"
I think the Button "Delete" for Datasets and Events in the Visualization Frontend should have a different name. I am always confused if I delete the Dataset or just remove it from the Visualization.

[2015-09-01 12:54] FabiApfelkern opened #195 "Description for Events"
Is there a particular reason why a user can enter a description for a linked event?

[2015-09-01 12:56] FabiApfelkern opened #196 "Warning or Filter Events which are not within time range"
It is possible to link events which are not within the time range of the Visualization. The user gets no feedback. Either this is not allowed at all or the user gets some kind of warning.

[2015-09-01 13:04] FabiApfelkern opened #197 "Review Visualization Design and Layout"
In my opinion the Visualization screen should be refactored to be kore appealing and user-friendly. I have just vague ideas, but we should brainstorm a little bit. Some points:
- The Graph can be bigger, there is still space within the container
- You have to scroll a lot. It might be a good idea to work more with modals, like with the events
- I would center everything around the visualization
-

[2015-09-01 13:07] mmilaprat commented on #196
yes.
There is 2 ways to link evets with visualisations.

1rst. If you click over the line chart, the "start date" and "end date" fields are filled with the start and end date of the chart. (You can change this data)

2nd. In the tab "Historical Events" there is the button "Add historical event". With this button the fields Start and end date are not filled. (But this only works if you don't click

[2015-09-01 13:18] FabiApfelkern commented on #196
But still, the user is able to add an event outside the range. This should not be possible.

[2015-09-01 13:21] FabiApfelkern opened #198 "Filter Options for Datasets Tabular Data"
Via query parameters it should be possible to filter the tabular data. Moreover a distinct list of used individuals should be available.

[2015-09-01 13:34] mmilaprat commented on #194
"Unlink" is better?

[2015-09-01 13:44] FabiApfelkern commented on #194
I am not sure. What about "Remove".

[2015-09-01 13:53] FabiApfelkern opened #199 "Review and Rework FCM Frontend"
I think the entire FCM frontend is to complex and complicated. Honestly I have no clue what I can do there and how. You should rethink the layout I do some mockups and we can discuss it here. Some of my ideas are:
 - Make it a wizard like dataset upload to guide user through the steps
 - A lot of help texts for each button
- Why is the edit button called "Run Simulation"
- What does the green and

[2015-09-01 13:53] mmilaprat commented on #194
ok, I will update the labels with "Remove"

[2015-09-01 13:55] FabiApfelkern commented on #194
Its just a proposal. You can talk to Nadia first maybe.
And by the way you don't have to work on every ticket immediately.... :)

[2015-09-01 14:02] FabiApfelkern opened #200 "General Layout and Concept for Viewing Entities"
I noticed that basically all of our entities consist of metadata and the entity itself. E.g. metadata + dataset, metadata + visualization, metadata + fcm,  and so on. But we have no general layout for viewing such entities. Everybody is implementing its own view layout.

https://alpha.policycompass.eu/app/#!/models/1
https://alpha.policycompass.eu/app/#!/datasets/1
https://alpha.policycompass.eu/a

[2015-09-02 12:54] mmilaprat commented on #191
I think that this is due to the fact that the dataset manager don't have the filter by individual

[2015-09-03 05:40] FabiApfelkern commented on #191
You think? What have you implemented? :) I think in general we should consider not to show functions in the frontend which are not ready. Or just disable them with ng-disabled. Otherwise it might confuses the user.

[2015-09-03 06:13] mmilaprat commented on #191
I'm working to change the way to filter individuals

[2015-09-03 07:12] FabiApfelkern commented on #191
You don't have to do this. I will implemented in the backend anyway. There is already a ticket for this: https://github.com/policycompass/policycompass/issues/198
You should work on your Sprint 4 tickets: https://github.com/policycompass/policycompass/issues?q=is%3Aopen+is%3Aissue+assignee%3Ammilaprat+milestone%3A%22Sprint+4%22

[2015-09-03 07:14] mmilaprat commented on #191
I know. But there is some problems with update actual version of maps and individauls that seem to be related

[2015-09-03 09:24] FabiApfelkern commented on #185
The dedicated login page is still in German: https://frontend-stage.policycompass.eu/app/#!/login

[2015-09-03 09:25] FabiApfelkern commented on #185
And the confirmation page presented, when activating the account is also in German.

[2015-09-03 09:28] YuriGlickman commented on #89
I think it has been discussed. The width of the adhocracy window has to be the same as the width of the Policy Compass page and not 1/3 of its width.

[2015-09-03 09:40] nidico commented on #185
I only did this for the discussion part of Adhocracy. The rest I will do together with the open auth tasks (#126 etc).

[2015-09-03 10:03] nidico commented on #89
We'll check what is possible.

[2015-09-03 10:04] #193 closed

[2015-09-03 10:17] #112 closed

[2015-09-04 06:59] FabiApfelkern commented on #190
In the current master error is gone but now no graph is displayed. I have to refresh the entire page to see it.

[2015-09-04 07:04] FabiApfelkern opened #202 "Percentage Mode is not clear"
I have to admit I am not sure what the "Show as %" exactly does. From which values is the percental value taken? In this Example [1], why do I get a scale up to 350 in percentage mode? And the axis still says "People" as unit. Can you please explain this function for me?

[1] https://alpha.policycompass.eu/app/#!/visualizations/create/?datasets=1

[2015-09-04 07:09] mmilaprat commented on #202
Show as % sets the first value of the dataset to 0. Takes the inital value of the dataset as reference and then calculates the % of the folloging values.

[2015-09-04 07:16] FabiApfelkern commented on #202
Thank you. I will think about it. In my opinion this is not clear to the user.

[2015-09-04 08:53] mmilaprat commented on #51
At this moment the recommendation engine shows the events that has been linked with other visualisations that uses the same datasets. To improve this engine we can try to show the events related with the country os the dataset.

@cbotsikas , @FabiApfelkern , @almey , can we search historical events (using the events manager or the search manager api ) by country?

[2015-09-04 09:02] FabiApfelkern commented on #162
This is not needed anymore. The Maps will be based on spatial data from the table.

[2015-09-04 09:02] #162 closed

[2015-09-04 15:19] YuriGlickman opened #203 "Faceted search"
The implementation of facented search have to be included in the second release of the platform and be ready by the sprint 5 latest.

At the moment  we have only a mock-up. I think the faceted search should have at least the following sections:
Content type - called "Output" now
Category - list of 13 data domains
Location - with a list of countries
Time period

[2015-09-04 15:23] cbotsikas commented on #203
Thank you for your input @YuriGlickman. I'm closing this as it's duplicate to https://github.com/policycompass/policycompass/issues/138

[2015-09-07 13:03] mmilaprat commented on #51
Does anyone ( @cbotsikas , @FabiApfelkern , @almey ) know how to find historical events by country?

[2015-09-07 13:10] almey commented on #51
at the moment you can only search for an event by title and timeframe. a seach by country is not yet implemented.

[2015-09-07 13:11] FabiApfelkern commented on #51
The only thing I know is that you can filter for any field by making a POST to https://search-prod.policycompass.eu/policycompass_search/event/_search with Payload
[code]

The thing is that @almey does not use the Reference Poll for the Geo Location. But you can simply create new events and write the ID of country into the field GeoLocation,

[2015-09-07 13:15] mmilaprat commented on #51
Probably is better that we move this issue until the functionality to search by country (1 or n) will be implemented.

Do you agree that we move it to sprint 5?

[2015-09-07 13:19] FabiApfelkern commented on #51
You can do this, but as a I said it is availabe with Elastic Search. You should try it and suggest improvements for it by creating issues.

[2015-09-07 13:29] mmilaprat opened #204 "Search historical events by country"
We need to search historical events by country. We will use it in visualisations to recomend events.

Related with issue #51 (policycompass/policycompass/issues/51)

[2015-09-07 13:38] mmilaprat commented on #204
As @FabiApfelkern suggests we can use elastic search to find events but I suppose that geoLocation is not the final name for the field where country will be stored, and in the events-manager api the "country" field doesn't appear.

[2015-09-07 13:41] FabiApfelkern commented on #204
I suppose we have to adjust in to our conventions. But please discuss it with @almey. But for sure we should do it with Elastic Search.

[2015-09-07 13:42] mmilaprat commented on #204
Ok, I'll use elastic search.

@almey can you tell me the exact name for the country field?

[2015-09-07 13:46] almey commented on #204
the field is called 'geoLocation' in the events model

[2015-09-07 13:52] mmilaprat commented on #204
then the actual geoLocation field data (lat, lng) will be replaced by a country id?

[2015-09-07 23:42] nidico commented on #188
Fixed through #205.

[2015-09-07 23:42] #188 closed

[2015-09-07 23:45] nidico opened #206 "Allow to install on Ubuntu >= 14.10 and Debian stable"
There are two issues when trying to install PCompass on Ubuntu >= 14.10 or Debian > stable (Jessie):

- Postgres is now at 9.4, therefore `POSTGRES_BIN_PATH` is wrong in `Makefile`
- `leiningen` is not available.

The first issue can be fixed through some detection logic in the Makefile.

What to do about the second issue? Leiningen is needed in order to install carneades.

[2015-09-08 05:21] FabiApfelkern commented on #206
The Clojure-based Carneades version is discontinued. There is already the new version written in Go available [1]. We are working on a frontend for this. I confident that it will be ready for the review.

[1] https://github.com/carneades/carneades-4

[2015-09-08 09:24] nidico commented on #84
We discussed that task at LIQD and wondered what the intention is, as basically such a list already exists, namely the main PolicyCompass *browse* screen - all of the listed items shall be discussable. Adding an additional list which basically shows the same items might be confusing to users. In addition, if that central place would list discussions in a purely forum-style way, the discussions wou

[2015-09-08 09:38] #206 closed

[2015-09-08 09:39] nidico commented on #206
We just removed the unneeded package dependency, which already resolved this issue. So carneades 3 can still be installed. We can exchange that once we have carneades 4 in place.

[2015-09-08 14:44] mmilaprat commented on #195
The data that appears in the div of an event linked with a visualisation onmouse over is:
Title
Start & end date
Description

The idea of the description is to give more information about the event, can be the description of the event (data used by default when you try to link events) or any custom text that tries to explain what means the event in a chart.

[2015-09-08 14:55] FabiApfelkern commented on #84
I think it is a good idea to have in embedded in the search based on Elasticsearch. But still I think it is good to have somehow a dedicated discussion page. At least with the top or most recent discussion. You could place a link to the concerning entity (Metric, Event,..) behind each discussion.

[2015-09-08 20:26] nidico opened #211 "Build css from sass in Makefile"
Since the merge of policycompass/policycompass-frontend#155, sass and compass are required to build css from sass files (see #101).

This has yet to be included in the Makefile.

[2015-09-08 22:31] nidico opened #212 "Upgrade angular to 1.4"
We're still using the outdated Angular 1.2. Angular 1.3 and 1.4 have a couple of nice features which we might want to use.

There shouldn't be too much incompatible changes, but we need to test well when doing this.

Of course, other dependencies could also be updated, but this issue is about angular.

[2015-09-09 00:14] #185 closed

[2015-09-09 01:05] nidico commented on #91
The [Auth Service](https://github.com/policycompass/policycompass/wiki/Auth-Service) wiki page has been updated to cover these topics.

In short:

- Backend services should perform a single request on `POST` or `PUT` requests, which [verifies the session and checks the user role at once](https://github.com/policycompass/policycompass/wiki/Auth-Service#bonus-verify-session-token-and-check-for-admin

[2015-09-09 01:05] #91 closed

[2015-09-09 01:38] #120 closed

[2015-09-09 01:38] nidico commented on #120
This does now work for real.

[2015-09-09 06:48] FabiApfelkern commented on #212
I also would like to have this migration. But I'm not sure if it is a good idea now. I was thinking to do all those migrations after the review. The backend needs a lot of updates as well. Because for me it not clear how much effort it is. We have to migrate the dependencies in some cases and have to test every bit of it. What do you think? And I'm curious, what particular features do you mean?

[2015-09-09 06:54] #121 closed

[2015-09-09 06:54] #126 closed

[2015-09-09 07:33] mmilaprat commented on #91
About the front end. I checked the content of the header.html to know how to recover the user data and I have a question.

I see that in the header.html we use the controller "UserState", but it is just used in the tag header. If we need to get the user information to show/hide any button (like edit/delete) we need to add this contoller in our "container"? the controller "UserData" can be placed i

[2015-09-09 07:36] FabiApfelkern commented on #91
I agree. We should go over this topic later in the telko to make sure we are all on the same page.

[2015-09-09 08:16] mmilaprat commented on #57
close.
pul request related # 154

[2015-09-09 08:16] #57 closed

[2015-09-09 08:16] mmilaprat commented on #194
close.
pul request related # 154

[2015-09-09 08:16] #194 closed

[2015-09-09 08:18] mmilaprat commented on #51
close.
pul request related # 158

[2015-09-09 08:18] #51 closed

[2015-09-09 08:18] mmilaprat commented on #186
close.
pul request related # 158

[2015-09-09 08:18] #186 closed

[2015-09-09 08:19] mmilaprat commented on #101
close.
pul request related # 155

[2015-09-09 08:19] #101 closed

[2015-09-09 08:23] mmilaprat commented on #191
close.
pul request related # 154

[2015-09-09 08:23] #191 closed

[2015-09-09 08:28] nidico opened #216 "Better logout UI"
In order to log out, you need to click on the user in the main header, then on logout and then on logout in the embedded iframe.

Two possible improvements:

Ideally: skip the last click (might not be trivial though at the moment)

At least:

- [x] make sure the subheader disappears after clicking on *logout* in it, so that the actual (embedded) logout button is visible
- [x] make it clear in the

[2015-09-09 08:29] FabiApfelkern commented on #89
I'm still not happy with this. Now you just moved it to the left side, but it is still small.

![screenshot from 2015-09-09 10-28-25](https://cloud.githubusercontent.com/assets/1488424/9756894/8c2353dc-56dd-11e5-88af-db1abb65a0de.png)

[2015-09-09 08:31] FabiApfelkern opened #217 "User Dropdown not Working on Homepage"
The user dropdown of the main menu is not working on the homepage (e.g. https://frontend-stage.policycompass.eu/app/#!/) when you are not logged in.

[2015-09-09 08:40] nidico commented on #89
This has been done like that on purpose. Using the full width is not an option as it would allow way to many words in one line, both in the input field as well in the actual comments.

The discussion has not only been moved to the side, but it has been aligned with a layout which actually exists in policycompass, i.e. full width of the `col-lg-6` grid. This means it isn't too broad on big screens,

[2015-09-09 08:56] FabiApfelkern commented on #190
Please check the new error: https://frontend-stage.policycompass.eu/app/#!/visualizations/create/?datasets=1

[2015-09-09 09:02] mmilaprat commented on #190
I'm checking it

[2015-09-09 10:34] belalakbar commented on #114
@nadiapo
here is the api
https://frontend-stage.policycompass.eu/api/v1/fcmmanager/metrics/2
you can use

[2015-09-09 11:06] mmilaprat commented on #114
In the visualisation we need to list the FCM linked with a visualisation.

In the visualisation we work with "datasets" each dataset has "individuals".

The api you provide list the FCM related with a metric. How we can get the list of FCM related with a dataset or an individual?

[2015-09-09 11:36] #217 closed

[2015-09-09 11:43] FabiApfelkern commented on #89
I don't have good suggestion. But for sure it is possible. :) Actually this discussion in GitHub is much wider and I have no problem to read it. But if you say it is impossible, we will find a way to incorporate it into the design. We can do it in this ticket: https://github.com/policycompass/policycompass/issues/200

[2015-09-09 11:43] #89 closed

[2015-09-09 11:44] FabiApfelkern commented on #200
It would be great to take care of the fact that Adhocracy has to be very small. https://github.com/policycompass/policycompass/issues/89 So fill the gab with some content.

[2015-09-09 11:47] nidico commented on #200
It's not that Adhocracy has to be very small. It's a general rule that text blocks shouldn't have much more than 12 words per line (or something like that, I'm not a UX person).

[2015-09-09 11:55] belalakbar commented on #114
The FCM which will use the given metric. because FCM is connect with the metric.

[2015-09-09 12:02] cbotsikas opened #218 "Services sample configuration is broken"
There is a missing comma at the PC_SERVICES leading to fatal error.

[2015-09-09 12:02] FabiApfelkern commented on #200
I don't want to argue about it, I'm also not an UX person, but if thats true literally nobody is doing it like this. (My first line has 23 words). But it's okay, we just have to deal with it.

[2015-09-09 12:03] mmilaprat commented on #114
@FabiApfelkern . Do yo know how we can get the lis of metrics linked with dataset?

Semantic search can get the list of metrics that has a dataset or an individual?

[2015-09-09 12:20] nidico commented on #143
We updated the document. This is pretty much done, however will change during implementation.

[2015-09-09 12:20] #143 closed

[2015-09-09 12:25] FabiApfelkern commented on #114
I am not sure if @belalakbar really means Metric or Dataset.

[2015-09-09 12:47] belalakbar commented on #114
i mean metric because currently connected to metric.

[2015-09-09 13:07] FabiApfelkern opened #219 "State of the Search should be stored in GET-Parameters"
At the moment the state of a search, e.g. current page, is not restored when browsing back to the search. The state should be store in the URL.

[2015-09-09 13:09] cbotsikas commented on #219
Thanks for the feedback i'll address it.

[2015-09-09 13:17] nidico commented on #90
We'll use this as an example how to use the auth service in both backend and frontend.

[2015-09-09 13:25] nidico commented on #125
This is not very urgent. We'll reconsider for year 3.

[2015-09-09 14:30] mmilaprat opened #220 "Request menu item"
the top menu option "request" can be disabled until have valid content.

for me it's better to disable the option than the text "coming soon"

[2015-09-09 14:42] mmilaprat opened #221 "Create dataset - step 1"
probably some help text explaining what you can do in this step is missing.

[2015-09-09 14:52] mmilaprat opened #222 "Create an argument map from dataset item"
If I click over the link "Create Argument Map" I get an empty page.

https://alpha.policycompass.eu/app/#!/datasets/1

[2015-09-09 14:54] mmilaprat opened #223 "Metric, delete button "Visualise""
As in the new version of policycompass visualisations are linked with datasets we must delete the button "Visualise" from the metric page.

https://alpha.policycompass.eu/app/#!/metrics/1

[2015-09-09 14:55] mmilaprat opened #224 "Metric, button create argument map"
Button "Create argument map" don't work

https://alpha.policycompass.eu/app/#!/metrics/1

[2015-09-09 14:57] mmilaprat opened #225 "Indicators, style"
buttons (Edit, delete) must be placed on the top of te page like others pages.

[2015-09-09 15:12] mmilaprat opened #226 "Search results"
In my opinion I prefer to set labels "Sort by"  and "Show" before the combo boxes

The text that inform of the resuts is a bit confusing, at this moment says "Page 1 of 9 results found".

Probably somehthin like "Page 1/1 . 9 results found"

[2015-09-09 15:15] mmilaprat opened #227 "Create events, start and end date"
At this moment we can create events with an "Event end date" minor than the "event start date".

Event end data must be always bigger or equal than the event end date.

[2015-09-09 15:16] mmilaprat opened #228 "Events style"
buttons (Edit, delete) must be placed on the top of te page like others pages.

[2015-09-09 15:21] mmilaprat opened #229 "bottom menu"
In the bottom menu there are option that don't "work" (Privacy, Contact, Terms of Use)

We must delete from the menu or create a pager with the contetn "comming soon"

[2015-09-09 16:53] nidico opened #231 "Adhocracy errors in javascript console after login"
Login does still work, but we should fix it anyway.

[2015-09-10 03:47] cbotsikas opened #232 "Policycompass privacy & terms and conditions."
On the footer of the app there are two inactive links for the "Privacy" and the "Terms of Use" as well at the registration page, there is this required "I accept the terms and conditions." without stating the terms and conditions. I guess, all those are needed before releasing a public version.

[2015-09-10 03:49] cbotsikas commented on #232
@YuriGlickman @nidico is there anything planed for those texts?

[2015-09-10 04:08] cbotsikas opened #233 "Canceling registration or login leads to a blank page"
On both pages there is a CANCEL link at the bottom which leads to a blank page.

An expected behaviour would be to land on the previous page, but i think this is not needed.

I propose to remove it. If the user wants to cancel the registration or login process, he can always navigate away using the top menu or the back feature on his browser.

[2015-09-10 04:25] cbotsikas opened #234 "login error with short password"
when trying to login with short password there is this error "Shorter than minimum length 6". I guess we could force this limitation on the form too, instead of allowing it to post, because i think it's not clear on what the error message refers to.

[2015-09-10 04:36] cbotsikas commented on #226
Thank you Miquel i'll sort this out

[2015-09-10 06:49] FabiApfelkern commented on #228
I'm waiting for comments on this: https://github.com/policycompass/policycompass/issues/200 before making new layout adjustments.

[2015-09-10 06:49] FabiApfelkern commented on #225
See: https://github.com/policycompass/policycompass/issues/200

[2015-09-10 06:50] FabiApfelkern commented on #224
The metrics pages are outdated and don't need attention.

[2015-09-10 06:50] #224 closed

[2015-09-10 06:50] FabiApfelkern commented on #223
The metric page has no meaning.

[2015-09-10 06:50] #223 closed

[2015-09-10 06:51] FabiApfelkern commented on #222
Carneades is not integreated properly at the moment. This is known.

[2015-09-10 06:52] FabiApfelkern commented on #220
@nidico I'm not sure. Is Liqd responsible for the request service?

[2015-09-10 06:54] FabiApfelkern commented on #221
There is a small question mark under the main title of that page. Click on it! You will see the helptext. Actually Atos invented that. :)

[2015-09-10 06:57] #218 closed

[2015-09-10 06:59] FabiApfelkern commented on #182
@aquinas9 What about this? Move to Sprint 5?

[2015-09-10 06:59] FabiApfelkern commented on #181
@aquinas9 What about this? Move to Sprint 5?

[2015-09-10 07:00] FabiApfelkern commented on #179
@mmilaprat @nadiapo Can we have this in Sprint 5?

[2015-09-10 07:00] #178 closed

[2015-09-10 07:00] FabiApfelkern commented on #145
@aquinas9 What about this? Move to Sprint 5?

[2015-09-10 07:01] FabiApfelkern commented on #142
@cbotsikas Have did something about this one?

[2015-09-10 07:01] FabiApfelkern commented on #138
@cbotsikas Move to Sprint 5?

[2015-09-10 07:02] FabiApfelkern commented on #114
@belalakbar Move this to Sprint 5? Who is responsible here?

[2015-09-10 07:02] FabiApfelkern commented on #99
@nadiapo Can we put this to Sprint 5?

[2015-09-10 07:02] FabiApfelkern commented on #231
@nidico Who will be responsible?

[2015-09-10 07:03] FabiApfelkern commented on #216
@nidico It would be great to have an Assignee here.

[2015-09-10 07:06] FabiApfelkern commented on #72
I think I cannot manage it in time. @MagdaN Am I rigth, you are a frontend-specialist? Do you know Grunt? I really want to have a simple Grunt integration. Mostly for minimizing and combining all JavaScript for deployment. At the moment the page is very slow because so many files have to be loaded.

[2015-09-10 07:06] FabiApfelkern commented on #65
@th0br0 Can you give us an update on this one?

[2015-09-10 07:12] FabiApfelkern commented on #219
Can we have it Sprint 5, though it is not that important?

[2015-09-10 07:13] FabiApfelkern commented on #212
@nidico Do we do something about it in this Sprint or just leave it for later?

[2015-09-10 07:14] FabiApfelkern commented on #202
I think we leave it. But can you change the axis label to "Percentage" instead of the original unit?

[2015-09-10 07:14] FabiApfelkern commented on #200
@nadiapo Do you think we can come up with something in Sprint 5?

[2015-09-10 07:15] FabiApfelkern commented on #199
@aquinas9 This really needs some attention in Sprint 5. @YuriGlickman Can you male concrete suggestions?

[2015-09-10 07:16] FabiApfelkern commented on #196
@mmilaprat Something about this? Can we get this warning?

[2015-09-10 07:16] FabiApfelkern commented on #195
Ok. I understand. Thanks!

[2015-09-10 07:16] #195 closed

[2015-09-10 07:16] FabiApfelkern commented on #192
@mmilaprat This would be great in Sprint 5.

[2015-09-10 07:18] FabiApfelkern commented on #159
@belalakbar @aquinas9 This needs to addressed in Sprint 5.

[2015-09-10 07:19] FabiApfelkern commented on #158
@cbotsikas Have you tested Miquels implementation of that?

[2015-09-10 07:20] FabiApfelkern commented on #98
@nadiapo We should at least update it to the new methodology.

[2015-09-10 07:22] FabiApfelkern commented on #30
@nidico This is done. isn't it?

[2015-09-10 07:22] FabiApfelkern commented on #26
@nidico I think we should have this for the Review.

[2015-09-10 07:23] FabiApfelkern commented on #24
@nidico Is it realistic that we will get this ever?

[2015-09-10 07:47] YuriGlickman commented on #232
I will take care about it. Thank you Christos

[2015-09-10 07:51] nidico commented on #220
Yes.

It doesn't matter for me. I'd leave it as a placeholder for now. If - for some reason - we wouldn't have the request service for the review, we should remove it until then.

[2015-09-10 08:00] nidico commented on #231
LIQD / me.

[2015-09-10 08:01] nidico commented on #216
I'm fine with assigning me here, as it's clear that I'll do it. However in my opinion this isn't strictly necessary, as the *AUTH* label clearly indicates that LIQD is responsible, but we might still need to sort out, who at LIQD. No problem in this case though.

[2015-09-10 08:02] nidico commented on #212
Leave it for whenever someone finds the time. Probably not in this sprint.

Yesterday, I wanted to use `$watchGroup`.

[2015-09-10 08:04] nidico commented on #30
It's done.

[2015-09-10 08:04] #30 closed

[2015-09-10 08:05] nidico commented on #26
I agree. At least as much as possible.

[2015-09-10 08:05] nidico commented on #24
Year 3...

[2015-09-10 08:06] nidico commented on #232
@YuriGlickman: If we have a site to link to we will set that up in the auth service configuration.

[2015-09-10 08:35] mmilaprat commented on #202
ok, I'll update it.
When the chart will be plotted as percentage the Y label will be "As % (original label)"

[2015-09-10 09:18] mmilaprat commented on #196
I'm working on it.

[2015-09-10 09:30] YuriGlickman commented on #199
Ok. I will do it.

[2015-09-10 10:04] #190 closed

[2015-09-10 12:26] aquinas9 commented on #145
This is arelady implemented as far as I am concerned..

[2015-09-10 12:26] #145 closed

[2015-09-10 12:31] aquinas9 commented on #199
◦Why is the edit button called "Run Simulation" : This was the recommendation from CCC meeting...If anyone have any idea, feel free to let us know.
◦What does the green and red color of the concepts mean: This was also request from other partners. When user clicks one concept, the color of in & out conept to selected concept changed so that user can easily recognize the in and out linkage among th

[2015-09-10 12:50] FabiApfelkern opened #235 "Couple Indicator Creation into Dataset Creation"

[2015-09-10 12:55] FabiApfelkern opened #236 "Add Cambridge Insight to External Resources"

[2015-09-10 12:57] FabiApfelkern opened #237 "Differ Custom and External Resource in Dataset Metadata"

[2015-09-10 12:58] FabiApfelkern opened #238 "Improve Dataset Creation Input Validation"

[2015-09-10 13:01] nadiapo commented on #200
Yes

[2015-09-10 13:16] nadiapo commented on #179
@FabiApfelkern @mmilaprat told me that you have done some modifications in respect. What remains to be done in this issue?

[2015-09-10 13:25] FabiApfelkern commented on #179
Yes, a small thing.I just implemented a workaround in my dataset.css. But this needs at some general place.

[2015-09-10 13:27] nadiapo commented on #114
@belalakbar can you please expose an API that lists FCMs based on a list of datasets or a list o individuals?

[2015-09-10 13:32] nadiapo commented on #98
Yes, this needs to be revised, but Focus is responsible for this

[2015-09-10 18:05] belalakbar commented on #182
this done and need to be closed.

[2015-09-10 18:06] belalakbar commented on #114
move this to sprint 5

[2015-09-11 06:06] FabiApfelkern commented on #182
You could close it by yourself.

[2015-09-11 06:06] #182 closed

[2015-09-11 13:25] FabiApfelkern opened #239 "Color Picker affects wrong individual."
When you change the color of an individual the wrong individual changes color.

[2015-09-11 13:35] FabiApfelkern opened #240 "Too Quick Dataset Selection leads to wrong Visualization"
Reproduce the error:
- Browse to https://frontend-stage.policycompass.eu/app/#!/visualizations/create/
- Choose "Causes of death..." and "Drug law offences..." very quick after each other
- Only one will be visualized
- Remove "Drug law offences..."
- Add "Drug law offences..." again
- You have both now
- But click on "Edit" on "Drug law offences..."
- You see all individuals twice

[2015-09-11 14:36] FabiApfelkern opened #241 "Python API for Dataset Manager for Internal Use"
- Metadata request for all datasets for a specific indicator, filter for indicators
- Get data of dataset as pandas DataFrame
- Create an new Dataset

[2015-09-13 20:39] YuriGlickman opened #242 "Control symbols in FCM are gone"
In the latest deployed version the control symbols from the left corner are missing. Please check what happend and reassign ticket to another person if needed.
![control symbols](https://cloud.githubusercontent.com/assets/8254248/9838862/35bae7ce-5a68-11e5-9f75-d2ee0b37f2c6.jpg)

[2015-09-13 21:11] YuriGlickman opened #243 "Edit Button for FCM"
Please add an edit button for FCM. The creator of an FCm may want to change it. It does not necessary related to simulation.
![edit button](https://cloud.githubusercontent.com/assets/8254248/9838996/b7d03922-5a6c-11e5-8d9c-dc388c6eee1d.jpg)

[2015-09-13 21:33] YuriGlickman opened #244 "Association vs Relationship"
The connection between concepts sometimes called "association" (in buttons, editr, etc), sometimes "relationship". We should be consistent in calling it.

I think I proposed to call it association, but I find that "relationship" is even better for general person.

Please replace word "association" by "relationship
![association](https://cloud.githubusercontent.com/assets/8254248/9839124/d2edcd20-5

[2015-09-13 21:36] YuriGlickman opened #245 "Weight in Create Association and in Edit Association dialogues"
Please add a possibility to set manually weight in Create Association and in Edit Association dialogues.
It is convinient for the user

[2015-09-13 21:58] YuriGlickman opened #246 "Add Concept, Edit Concept dialogues"
in the Add Concept, Edit Concept dialogues please:

1) add field "Value" as optional to allow users to set values manually. Most of users will use FCM editor without simulation.
2) Make field "description" optional

[2015-09-13 22:40] YuriGlickman opened #247 ""Run simulation" tab"
At the Run simulation tab please:

1) Deactivate buttons if clicking them does not do anything. For example, in the attached picture metrics are not added to concepts. So it is impossible to calculate weights from historical data. The corresponding button has to be deactivated until it becomes possible.  "Correlation matrix between concepts" does not work also, so deactivate the button.
2)When use

[2015-09-14 07:51] FabiApfelkern opened #248 "Integrate Compass Into Deployment Process"
The frontend now entirely relies on Sass/Compass. The Deployment needs to modified.

[2015-09-14 07:53] nidico commented on #248
Duplicate of #211.

[2015-09-14 07:53] #248 closed

[2015-09-14 07:54] FabiApfelkern commented on #248
Sorry. :)

[2015-09-14 12:59] MagdaN opened #249 "create API endpoint to validate formula"

[2015-09-14 13:00] MagdaN opened #250 "metrics manager additional fields"
the following fields are missing in the metrics model: acronym, description, keywords, user should be an url, title should not be unique

[2015-09-16 22:47] YuriGlickman opened #251 ""Simulation results" and "graph" tab"
It is difficult to understand how simulation works. We should aim to make the tools integrated in Policy Compass to be understandable for general users. We do not need to explain all details, but they should understand the meaning of the numbers or curves which they see.  I propose the following:
1) Add an explanational text for the simulation results and put it under a question mark, like it is d

[2015-09-16 22:52] YuriGlickman opened #252 "Add a discussion window for FCM"
Please add an Adchocracy window in the FCM's "Comments" tab:
https://frontend-stage.policycompass.eu/app/#!/models/3/edit

[2015-09-16 22:56] YuriGlickman opened #253 ""Graph" tab - visualisation of the simulation results"
In the dataset visualisation Miquel implemented a possibility to select a colour of curves. It would be good to have it also for simulation results

[2015-09-16 23:12] YuriGlickman opened #254 "Saving dialogue (cont. #153)"
1) Spelling mistake in the pop-up window name: "Causal" an not "Casual" :)
2) The size of the window with domains is still too small. At least 4 domains should be visible without scrolling.

![casual](https://cloud.githubusercontent.com/assets/8254248/9920965/08bbae3e-5cd9-11e5-8d31-cf9c35ebd35d.jpg)

[2015-09-17 15:53] Forester1 commented on #236
Link to Cambridgeshire Insight Open Data portal http://opendata.cambridgeshireinsight.org.uk/

[2015-09-17 17:22] mmilaprat opened #255 "Error into the Metric detail page"
When I try to access to the metric detail page in my local environment I get an error.

url: http://localhost:9000/app/#!/metrics/2

error: {"detail":"Method 'GET' not allowed."}

In the console appears this message:
GET http://localhost:9000/api/v1/metricsmanager/metrics?id=2 405 (Method Not Allowed)

this url is not correct "metrics?id=2" must be "metrics/2"

After some research I think that the

[2015-09-17 17:30] mmilaprat opened #256 "Cross-site HTTP requests using remote services"
When I configure my local environment to use remote services (useRemoteServices=true) I get an error.

XMLHttpRequest cannot load https://search-dev.policycompass.eu/. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:9000' is therefore not allowed access.

How I can solve this problem?

[2015-09-18 08:12] FabiApfelkern commented on #255
What functionality do you check with Metrics?

[2015-09-18 08:16] mmilaprat commented on #255
I just check pages to find layout differences, it's rellated with the issue #200

[2015-09-18 08:16] FabiApfelkern commented on #256
It is https://search-stage.policycompass.eu/

[2015-09-18 08:16] #256 closed

[2015-09-18 08:19] FabiApfelkern commented on #255
Ok, but the Metrics page is not relevant for that.

[2015-09-18 08:32] FabiApfelkern commented on #196
@mmilaprat Now in the current master it is not possible anymore to select an event outside the range anymore. Is that right?

[2015-09-18 08:34] FabiApfelkern opened #257 "Color Picker Causes Refresh"
When I change the color of an individual, the visualization updates immediately. This annoying because this takes a second, so the page jumps up and down.

[2015-09-18 08:35] mmilaprat commented on #196
Theorically yes!!

[2015-09-18 08:37] FabiApfelkern commented on #196
Theoretically?

[2015-09-18 08:39] mmilaprat commented on #196
I update the modal window to use the start and end date of the dataset selected as filters. I test it and works.

[2015-09-18 08:44] FabiApfelkern commented on #196
Yes it works. I just was wondering if it was on purpose.

[2015-09-18 09:39] FabiApfelkern opened #258 "Policy Domains should be in alphabetical order"

[2015-09-21 07:18] FabiApfelkern commented on #242
@belalakbar Can you please check?

[2015-09-21 07:19] #221 closed

[2015-09-21 07:20] FabiApfelkern commented on #189
@mmilaprat  I have still problems to recreate that error. Can you please send me a CSV file which produces that error?

[2015-09-21 08:15] mmilaprat commented on #189
Is when the data input is manually and the cell 1B is empty.

[2015-09-21 15:19] slomo opened #259 "Logout fails with high cpu usage"
After logging in through the adhocracy frontend as "god" one can't log out through the pc interface.

[2015-09-21 15:43] nidico commented on #259
See also #216.

[2015-09-21 15:48] FabiApfelkern opened #260 "Logout after Refresh"
On my local machine I get logged out after a complete refresh of the page. Tested in Chrome.

[2015-09-21 15:51] nidico commented on #260
Something seems to got broken. I'll check.

See also #259 and #216.

[2015-09-21 16:56] nidico commented on #84
The plan is to do the following:

- [ ] Add rating count to item index (by extending `searchmanager.index_utils`
- [ ] Index item after commenting an `IExternalResource` object (by extending the Adhocracy backend)
- [ ] Show comment count in pcompass search frontend (by extending the pcompass search angular module)

[2015-09-22 09:13] FabiApfelkern opened #261 "Use of Auth Service in Frontend broken"
I included  pcApp.auth.services.auth into a module and injected Auth into a controller to get the current logged-in user. This leads to a loggout of the user, when using that controller. Am I not supposed to use that service?

[2015-09-22 14:02] MagdaN opened #262 "remove unused variables from variables in metric detail api endpoint"

[2015-09-23 09:58] cbotsikas opened #263 "loaddata invokes indexing without connection"
Loaddata invokes search indexing but since django isn't running it can't be performed, leading to multiple exceptions.

[2015-09-23 10:34] mmilaprat commented on #253
Hi,
if you wish to set a color per each curve you need to add a new parameter into the dataset array used in the directive.

This is a dataset example:

[
{"Key":"France_1", "Labels":["2001","2002","2003"],"ValueX":["2001","2002","2003"], "ValueY":[744,662,702], "Color":"#a91d5b", "Type":"metric"},
{"Key":"Spain_0", "Labels":["1996","1997","1998"],"ValueX":["1996","1997","1998"], "ValueY":[65705,7

[2015-09-23 11:37] mmilaprat opened #264 "Layout detail and form"
In reference to the issue #200 we propose to update general items layouts following the next rules (in the pull request # 162 there is the first version (just for visualisation and events)):

* the detail page:
   * Buttons (edit, delete, ... ): must be placed in th top, under item title
   * Main data (title and description) will appear out of the "Details" section.
   * Details data will appear

[2015-09-23 11:38] nidico commented on #261
Yes, you're supposed to use that service. Marking as bug.

[2015-09-23 11:56] slomo commented on #249
Close be policycompass/policycompass-services#48

[2015-09-23 11:56] #249 closed

[2015-09-23 12:03] nidico commented on #86
Done, though #250 is still open.

[2015-09-23 12:03] #86 closed

[2015-09-23 13:08] FabiApfelkern opened #265 "File Upload not working because of CORS"

[2015-09-23 13:48] nidico commented on #90
We discussed in today's telco:

- As long as a metric has not been operationalized, it can be edited by the creator; after operationalization not anymore.
- It can always be copied to a new metric by anybody.

On copy, we should add a link to the metrics metadata which states from which metric it has been derived and display both directions in the metrics detail UI.

[2015-09-23 16:02] FabiApfelkern commented on #265
I'm not sure what is wrong. On stage I cannot use the file upload of the Dataset Manager. I get a CORS error on the console. And the Nginx logs say this:
[code]

It worked before for sure. Have you changed anything on any CORS settings?

[2015-09-23 16:06] FabiApfelkern opened #266 "client_body_temp_path not set correctly on Alpha"
On alpha the client_body_temp_path setting is not set. Related to this issue:
https://github.com/policycompass/policycompass/issues/128

[2015-09-23 17:11] mmilaprat opened #267 "Link Policy Compass small logo reload entire page"
The small Policy Compass logo that appears on the top left, links to the home page but it reloads the entire page. Is this correct? or the link '<a href="#!"' must be replaced by '<a href="#!/"' ?

![top](https://cloud.githubusercontent.com/assets/6602727/10052317/8eaa04c6-6226-11e5-9818-be361b77e2f5.png)

[2015-09-24 07:16] FabiApfelkern commented on #257
This is still an issue. The color picker is now in the modal, but it refreshes in the background. You should only refresh when the "Choose" button is clicked.

[2015-09-24 07:23] FabiApfelkern commented on #264
I checked it in the PR in detail and I would say this needs some improvement. The major issues is, like Yuri mentioned, there are too much empty spaces. Especially in the event page. Literally half the page is empty. And one other point. Is it possible to improve the small help button with the question mark? In my opinion it is too boring and know body will click on it. It needs a color perhaps...

[2015-09-24 07:32] FabiApfelkern commented on #264
One other thing: In Visualization the graph menu (Legend, Lines...) is visible, even when there is no graph. It would be better to hide it. Moreover it would be great to have an info text what to do when there is no graph.

[2015-09-24 07:59] FabiApfelkern commented on #241
Done by @slomo

[2015-09-24 07:59] #241 closed

[2015-09-24 08:11] #236 closed

[2015-09-24 08:11] #258 closed

[2015-09-24 12:25] #50 closed

[2015-09-24 12:32] #198 closed

[2015-09-26 14:02] aquinas9 opened #268 "Help menu for FCM manager"
Help contents need to be inserted for user.

Metric Manager and Visualisation module might be reference for this task.

Help contents will be provided by YC.

[2015-09-26 14:04] aquinas9 opened #269 "Error - FCM saving & Loading"
Need to check again.

When we click the run simulation button after loading saved model, it returns error msg every time.

[2015-09-26 14:06] aquinas9 opened #270 "Fixed output for specific concept"
Now every fixed output option is automatically set for concepts that have no input.

But in some case, we need to set fixed output for concept that has input.

[2015-09-26 14:12] aquinas9 opened #271 "Implementation of "correlation matrix between concept""
After checking the api provided by Fabian, please implement this functionality.

[2015-09-29 08:36] slomo opened #275 "Query available normalizers from MM"
Currently only a one hardcoded normalizer exists. In the future it should be possible to query them.

[2015-09-30 07:46] mmilaprat opened #276 "Auth Service example"
Is there any example of how we can use the auth service in the backend and in the front end?

[2015-09-30 10:18] slomo commented on #250
Since title is unique on datasets I will also keep the title unique.

[2015-09-30 12:44] #265 closed

[2015-09-30 15:01] FabiApfelkern commented on #238
Done in a simple way for now by checking before moving to the next step and giving an error if something is invalid.

[2015-09-30 15:01] #238 closed

[2015-09-30 16:20] belalakbar commented on #242
@FabiApfelkern these symbols define in the cytoscape.js-panzoom.css. Now, how can I add this css file.

[2015-09-30 16:52] mmilaprat commented on #242
all the old css files are in the /sass folder.

If you need to update any css file, you need to find the equivalent sass file and update it.

[2015-09-30 17:02] mmilaprat commented on #242
I'm not sure if this issue still open because in my local environment these symbols appears when I add a concept or I load an existin model.

Probably the problem is that the first time that you enter in the form, the symbols don't appear.

[2015-09-30 17:16] belalakbar commented on #242
@mmilaprat how can I update the sass file

[2015-10-01 06:22] mmilaprat commented on #242
as a css file, you can add/update content in a scss file and if you have "compass watch" runnig the css is updated.

[2015-10-01 08:33] YuriGlickman commented on #242
I still have the issue. See the sceenshots from Chrom and Mozilla
![symbols chrom](https://cloud.githubusercontent.com/assets/8254248/10216246/d8c9145a-6827-11e5-9d65-035bb6c3463f.jpg)
![symbols mozilla](https://cloud.githubusercontent.com/assets/8254248/10216245/d8c65936-6827-11e5-8d98-ad3c36ef4e42.jpg)

[2015-10-01 08:38] mmilaprat commented on #242
you are right, I understand that you refer to the full bar

[2015-10-05 09:38] #257 closed

[2015-10-05 09:38] #240 closed

[2015-10-05 09:39] #239 closed

[2015-10-05 09:39] #202 closed

[2015-10-05 09:39] #196 closed

[2015-10-05 09:39] #192 closed

[2015-10-05 09:39] #179 closed

[2015-10-06 08:59] bullz commented on #264
New event detail layout proposal
![event_detail](https://cloud.githubusercontent.com/assets/160349/10304223/1ff489a0-6c19-11e5-9d82-25bb24c44822.png)

[2015-10-06 10:27] belalakbar commented on #253
@mmilaprat how can I use the color picker for each concept? As user can change the color on runtime. However, I understand the color attribute which you have describe in the dataset example is fixed.

[2015-10-06 13:31] bullz commented on #264
![browse](https://cloud.githubusercontent.com/assets/160349/10309890/52623aa6-6c3f-11e5-89ef-2043519f3519.png)

[2015-10-07 12:06] slomo commented on #250
Has been solved.

[2015-10-07 12:06] #250 closed

[2015-10-07 12:07] slomo commented on #88
Solved in various pull-request.

[2015-10-07 12:07] #88 closed

[2015-10-07 12:07] #263 closed

[2015-10-07 12:08] slomo commented on #87
Could this pleas be further iterated? There is some basic checking implemented. Type checks are not done yet.

[2015-10-07 12:09] slomo commented on #275
This has ben solved policycompass/policycompass-services#62

[2015-10-07 12:09] #275 closed

[2015-10-07 15:10] #171 closed

[2015-10-07 15:10] #77 closed

[2015-10-07 15:15] almey commented on #180
api.epdb.eu has not been integrated. instead the service from GESIS got integrated which extracts events from the wikipedia articles, that exsist for each year (like https://en.wikipedia.org/wiki/1999). this information was not available through the DBpedia, so it was a very useful extension of the events manager

[2015-10-07 15:15] #180 closed

[2015-10-08 06:40] mmilaprat opened #279 "Visualise dataset with unit_id = 0"
There is a problem in the visualisation when you try to visualise a dataset that the field unit_id = 0

[2015-10-08 10:45] mmilaprat commented on #253
you can add a color picker field using a directive like this

<spectrum
name='color'
ng-model="scaleColor"
ng-model-onblur
ng-change="your_function()"
options="{showInput: true, showAlpha: false, allowEmpty: false, preferredFormat: 'hex'}">
</spectrum>

your_function must be a function that update the appropiate ccolor row into your dataset.

[2015-10-09 09:19] mmilaprat commented on #242
We can solve this issue updating styles.

There is a PR pending that solve this issue https://github.com/policycompass/policycompass-frontend/pull/186

[2015-10-09 11:55] #242 closed

[2015-10-09 14:40] #279 closed

[2015-10-12 07:05] slomo commented on #255
I can't reproduce this issue on [staging](http://frontend-stage.policycompass.eu/app/#!/metrics/4). Given this an its age it is probably outdated.

[2015-10-12 07:05] #255 closed

[2015-10-12 07:20] slomo commented on #266
Solved on production config changed on #280

[2015-10-12 07:20] #266 closed

[2015-10-12 07:21] slomo commented on #211
Solved in #277

[2015-10-12 07:21] #211 closed

[2015-10-13 12:40] nidico commented on #260
This should be fixed after liqd/adhocracy3.mercator#1727, could you please check again?

[2015-10-13 13:02] nidico commented on #259
Cannot reproduce, might be resolved through liqd/adhocracy3.mercator#1727. @slomo, can you please check again?

[2015-10-13 14:08] nidico commented on #85
This has started in policycompass/policycompass-frontend#180, but still needs some polishing.

[2015-10-13 14:09] nidico commented on #84
This is done. Proper theming can be done in a separate issue.

[2015-10-13 14:09] #84 closed

[2015-10-13 14:18] nidico commented on #234
This is now tracked in liqd/adhocracy3#1747.

[2015-10-13 14:49] cbotsikas opened #284 "Wrong search api url reference"
FCM is calling search manager to update the search index from the frontend. Currently it's using relative url path which is broken in production servers since there is no proxy pass configuration.

[2015-10-13 15:38] nidico commented on #284
Fixed through policycompass/policycompass-frontend#192.

[2015-10-13 15:38] #284 closed

[2015-10-14 09:00] cbotsikas opened #285 "create source map for css"
source map files are needed to allow easy debugging for the compass styles.

[2015-10-14 10:30] aquinas9 commented on #246
We will consider this issue again.
However, as you remembered, our first design for Add Concept and Add Relationships had "value" field.
The reason we remove this field and move into the simulation section is that we tried to separate the simulation and model design. Set value can be considered as a part of simulation behaviour.
But we will discuss this issue internally again.

[2015-10-14 11:01] belalakbar commented on #114
@mmilaprat The following api's has been implemented. You need to again setup the FCMManager service.
https://frontend-stage.policycompass.eu/api/v1/fcmmanager/datasets/{id}
https://frontend-stage.policycompass.eu/api/v1/fcmmanager/individuals/{id}

[2015-10-14 11:32] #285 closed

[2015-10-14 11:57] mmilaprat commented on #114
@belalakbar , I checked the FCM API in the different environments and:

alpha:
https://alpha.policycompass.eu/api/v1/fcmmanager/models -> works
https://alpha.policycompass.eu/api/v1/fcmmanager/datasets -> Not works, probably becuse is not implemented
https://alpha.policycompass.eu/api/v1/fcmmanager/individuals -> Not works, probably becuse is not implemented

stage:
https://services-stage.policyco

[2015-10-14 12:01] #269 closed

[2015-10-14 12:07] #246 closed

[2015-10-14 12:07] #244 closed

[2015-10-14 12:08] #243 closed

[2015-10-14 12:11] aquinas9 commented on #114
We will close this after the server is updated.

[2015-10-14 12:37] nidico opened #287 "Integrate adhocracy discussions in FCM"
The discussion service should be integrated in the `comments` tab in the FCM detail page.

[2015-10-14 12:40] nidico opened #288 "Disable zoom of FCM graph through scroll"
Using the mouse scroll wheel should be reserved for page scrolling. Zooming the FCM graph through scrolling should be prevented.

[2015-10-14 13:01] cbotsikas commented on #288
I think scrolling is captured properly. It's zooming only when the cursor is on the FCM. If your cursor is outside the FCM, the page is scrolling.

Do you have a different behavior?

I'm on Windows with Chrome Version 45.0.2454.101 m (64-bit) ATM.

[2015-10-14 13:16] nidico commented on #288
Even then, it's pretty annoying, as the cursor ends up on top of the FCM graph during scrolling...

[2015-10-14 13:41] #270 closed

[2015-10-14 14:03] cbotsikas commented on #288
it's essentially the same way the visualization is working when using maps like: https://frontend-stage.policycompass.eu/app/#!/visualizations/12

If it's still an issue, i wouldn't remove the functionality but instead add a keyboard combo like (Ctrl+scrolling)

[2015-10-14 14:07] mmilaprat opened #293 "In some visualisations bars, the oreder of the x axes labels are not in order"
Depending the order you add datasets to the visualisation the order of the labels that appears for the x axes are not in order.

![14-10-2015 16-04-09](https://cloud.githubusercontent.com/assets/6602727/10486068/8a8ec58a-728d-11e5-8a7e-0d659e695be3.png)

[2015-10-14 14:12] nidico opened #294 "Discussions not shown if not logged in and no thread exists yet"

[2015-10-14 14:43] mmilaprat opened #295 "I can read "terms an conditions" the link don't work"
When I try to register, the link "terms and conditions" don't work.

![14-10-2015 16-42-41](https://cloud.githubusercontent.com/assets/6602727/10487113/b64bb23c-7292-11e5-92ae-08fdbf64ee33.png)

[2015-10-14 14:46] cbotsikas commented on #295
This is duplicate to https://github.com/policycompass/policycompass/issues/232

[2015-10-14 14:46] #295 closed

[2015-10-14 14:56] mmilaprat opened #296 "Help div cannot be hidden"
Although the initial idea was to use only the help icon/div at the top, depending how you use the help div in other parts when you click over it you cannot hide the div because it appears over the icon.

![14-10-2015 16-50-39](https://cloud.githubusercontent.com/assets/6602727/10487423/29a6c464-7294-11e5-8aae-38563f46a3ad.png)

[2015-10-14 15:05] cbotsikas commented on #296
I think the same issue applies to visualization like you can see here: https://frontend-stage.policycompass.eu/app/#!/visualizations/create/

I think the help popup should have a close button on the top right corner.
You can also close it when clicking outside of it (add a semitransparent/blur fullpage overly under the help div) OR make it draggable if you think it's a good idea to keep it open wh

[2015-10-14 15:09] cbotsikas commented on #296
I also think that inside the help div, buttons should not change color and cursor on hover and not be clickable. At the moment, IMO, they look like broken...
![capture](https://cloud.githubusercontent.com/assets/1640100/10487853/4b1c5d00-7296-11e5-915a-2f27a3c76250.PNG)

[2015-10-14 15:28] cbotsikas commented on #296
for the blur part, you can see an example here: http://codepen.io/KristinB/pen/KFEIc
If you don't like it, the traditional semitransparent colored overlay is fine too.

[2015-10-15 08:55] YuriGlickman commented on #203
Hi Christos,
So, the categories are:
Content type - called "Output" now
Category - list of 13 data domains
Location - with a list of countries.
Time period

[2015-10-15 09:08] YuriGlickman commented on #251
2) In simulation results and in the graph you show results always for 20 steps. Are they all important? If only some of them are meaningful, please do not show other.
3) Provide explanation for the Impact analyses at the Impact analyses tabs. Put your text under the question mark.

[2015-10-15 09:14] YuriGlickman commented on #247
2)When use clicks "Run simulation". You do not need to show a confirmation message. instead of that open the tab "Simulation results".
3) I cancel the request

Please do not close the issues if not all points are fixed.

[2015-10-15 09:22] YuriGlickman commented on #246
Ok. I agree. Concept values are probably important only for simulation

[2015-10-15 09:24] YuriGlickman commented on #245
Association weights is an  important part of the of the model. It should be possible to edit them manually after clicking on the association

[2015-10-15 12:15] #294 closed

[2015-10-15 13:10] slomo opened #297 "Metrics extend manager semantic validation"
Here is an overview of the semantics validation that can be done on a metrics formula and what currently is done:

- [ ] ensure that formula syntax is valid
- [ ] check that all variable names are given in `variables`
- [ ] check that only existing normalization functions are called
- [ ] ensure that normalization function are called with the correct number and kinds of parameters
- [ ] ensure tha

[2015-10-15 13:13] slomo opened #298 "Convert units of metrics if needed"
If a two data sets of the same indicator are added or substracted in a formula it might be required to change their units to a common value before hand.

[2015-10-15 16:22] mmilaprat commented on #114
@belalakbar , If we wish to get the FCM related with more than 1 dataset or individual, can we pass more than one id to the API?

Example:
https://frontend-stage.policycompass.eu/api/v1/fcmmanager/datasets/1,3,6
https://frontend-stage.policycompass.eu/api/v1/fcmmanager/individuals/2,5,7

[2015-10-16 06:42] mmilaprat commented on #114
@belalakbar , can you attach an example of the jsons that I can recover from these APIS?

[2015-10-19 08:18] nidico opened #299 "Automatically start services on production and staging servers"
On server restart, policycompass doesn't start automatically.

[2015-10-19 14:09] FabiApfelkern commented on #298
This is planned for the Dataset Manager: https://github.com/policycompass/policycompass/issues/53
My plan is to have a parameter to change the unit of the values, when possible. I want to use the pint library for that.

[2015-10-19 16:58] mmilaprat commented on #114
Do you have any idea of when these APIs will be working into the alpha or stage environment?

[2015-10-19 17:49] nidico opened #301 "Deadlock between adhocracy and searchmanager in single-threaded adhocracy"
If adhocracy runs single-threaded, the external resource subscriber in the adhocracy backend causes a deadlock, as it synchronously calls the searchmanager django service, which then calls the adhocracy backend in order to retrieve the number of comments.

This isn't a problem if adhocracy runs with multiple threads or processes, so this is mainly an issue in the development environment.

[2015-10-19 21:53] #293 closed

[2015-10-21 09:05] cbotsikas opened #302 "Internal server error when User Path and Token headers exist"
If the user is logged in and user path and token headers exists, then there are some "HTTP Error 400: Bad Request" responses. Check mailing list thread "[pcompass-wp3] stage server" from 21/10/2015 for more details

![bug](https://cloud.githubusercontent.com/assets/1640100/10632169/e1674238-77e2-11e5-8ed7-156f764a21cd.jpg)

[2015-10-21 09:07] cbotsikas commented on #302
@nidico can you address this issue?

[2015-10-21 09:08] cbotsikas commented on #302
HTTPError at /api/v1/references/languages/38
HTTP Error 400: Bad Request
Request Method:	GET
Request URL:	http://services-stage.policycompass.eu/api/v1/references/languages/38
Django Version:	1.7
Exception Type:	HTTPError
Exception Value:
HTTP Error 400: Bad Request
Exception Location:	/usr/lib/python3.4/urllib/request.py in http_error_default, line 587
Python Executable:	/home/policycompass/polic

[2015-10-21 09:10] cbotsikas commented on #302
And the traceback:

File "/home/policycompass/policycompass/policycompass-services/lib/python3.4/site-packages/django/core/handlers/base.py" in get_response
  111.                     response = wrapped_callback(request, *callback_args, **callback_kwargs)
File "/home/policycompass/policycompass/policycompass-services/lib/python3.4/site-packages/rest_framework/viewsets.py" in view
  78.

[2015-10-21 11:06] nidico opened #303 "Adhocracy needs to run in order to be installed"
The `import_resources` statement in the `adhocracy3_install` make target requires a running adhocracy, which isn't possible when adhocracy is still being installed. This should be split.

[2015-10-21 11:23] mmilaprat opened #305 "Request - Create proposal - Cancel button"
Into the Create proposal form, the CANCEL button doesn't do any action. It's a bit confusing.

![21-10-2015 13-18-54](https://cloud.githubusercontent.com/assets/6602727/10635097/9ac6f666-77f6-11e5-8611-c94a1c5fa580.png)

[2015-10-21 11:28] nidico commented on #302
Unfortunately, I can only reproduce it on staging, but not locally. This needs further debugging.

[2015-10-21 11:32] mmilaprat commented on #302
I can reproduce this error in my local environment, I have the same problem.  My config.js is:

var policyCompassConfig = {
    'URL': '/api/v1',
    'DATASETS_MANAGER_URL': 'http://localhost:8000/api/v1/datasetmanager',
    'VISUALIZATIONS_MANAGER_URL': 'http://localhost:8000/api/v1/visualizationsmanager',
    'EVENTS_MANAGER_URL': 'http://localhost:8000/api/v1/eventsmanager',
    'METRICS_MANAGE

[2015-10-21 11:32] #287 closed

[2015-10-21 11:36] #303 closed

[2015-10-21 11:39] nidico commented on #302
The installer indicated that some migrations were missing, so I did `makemigrations` & `migrate` on the django services on staging, and now I can't reproduce this issue anymore.

@mmilaprat, @cbotsikas - can anybody of you still reproduce this? If not, please close this issue.

[2015-10-21 11:44] nidico opened #307 "Serve gzipped static resources"
We should gzip static resources (both pcompass code and bower_components) - this will speed up the initial load drastically.

[2015-10-21 11:45] nidico opened #308 "Serve minified static resources"
We should serve minified resources whereever possible.

[2015-10-21 11:48] nidico commented on #87
This is already done.

[2015-10-21 11:48] #87 closed

[2015-10-21 11:54] mmilaprat commented on #302
I clear my cache and the error persist in the stage server.

![21-10-2015 13-52-54](https://cloud.githubusercontent.com/assets/6602727/10635733/38dd5c06-77fb-11e5-9549-8627b2196343.png)

[2015-10-21 12:06] #237 closed

[2015-10-21 12:14] #226 closed

[2015-10-21 12:15] #138 closed

[2015-10-21 12:22] cbotsikas opened #309 "Allow sorting browse results by comments count"

[2015-10-21 18:06] nidico commented on #301
In liqd/adhocracy3@a264482, this has been resolved by adding more workers to the backend gunicorn process. We need to do the same in the pcompass setup.

[2015-10-22 09:16] FabiApfelkern commented on #302
The error comes from this line: https://github.com/policycompass/policycompass-services/blob/master/policycompass_services/auth.py#L103
The requests fails for some reason.

[2015-10-22 09:24] nidico commented on #302
Maybe adhocracy is blocking for a reason, similar to #301. You may want to merge #310 and see if this issue still persists.

[2015-10-22 09:27] #301 closed

[2015-10-22 09:30] FabiApfelkern commented on #302
I merged it but it's no difference. But I'm not sure if I locally use those ini files. Where is this configured?

[2015-10-22 09:34] nidico commented on #302
If you use the makefile to build adhocracy, run `make adhocracy3_install` and `supervisorctl restart adhocracy:`. The former should make `adhocracy3/etc/development.ini` a link to `etc/.../development.ini`.

[2015-10-22 09:36] FabiApfelkern commented on #302
Ok, it was already like this. So it doesn't help.

[2015-10-22 09:37] nidico commented on #302
I can look into this a bit later today.

[2015-10-22 09:39] FabiApfelkern commented on #302
Thank you!

[2015-10-22 10:24] mmilaprat opened #311 "add auth to the detail/edit item forms"
Hi @nidico ,
I'm trying to use auth into the FE.

I understand how to use it into the add item form, it will be something like this (I checked metrics modules):

$scope.user = Auth;

if(!$scope.user.state.loggedIn)
{
	$location.path("/login")
}
else
{
    .......
    our code
    .......
}

but I have a question about how to enable the edit and delete buttons in the item detail page.

In the contr

[2015-10-22 11:51] FabiApfelkern commented on #311
I think you store the user id which is an url, e.g. https://adhocracy-frontend-stage.policycompass.eu/api/principals/users/0000005/. But Liqid should confirm this. As for the Buttons, in my opinion we should find a generic solution for that, instead of settings variables in every controller. @MagdaN Do you have an idea about it?

[2015-10-22 12:04] MagdaN commented on #311
1) the frontend does not need to take care of saving the user - this should be done in the backend (as the user is automatically added to the request), @slomo  already implemented it in the metricsmanager. I think the userfield is a read-only field and he added a presave method (see here: https://github.com/policycompass/policycompass-services/pull/68/files) to

2) maybe we could write a directive

[2015-10-22 12:08] mmilaprat commented on #311
it will be useful, we also need to control if user can edit or delete an item into the "edit" mode of it. Users can edit manualy URLs to add edit (item/numer/edit) into the url.

[2015-10-22 12:10] MagdaN commented on #311
for that I would need to know all possible buttons or I could just start with:
- edit
- delete

[2015-10-22 12:14] mmilaprat commented on #311
in my case, edit an delete are enough

[2015-10-22 13:07] #307 closed

[2015-10-22 13:07] nidico commented on #307
Oops, I didn't intend to write to master directly, sorry.

[2015-10-22 13:46] mmilaprat commented on #305
Probably the "extra" username and the LOGOUT link that appear in this page must be hide.

[2015-10-22 13:52] FabiApfelkern commented on #302
@nidico I deployed the latest version after merging. Now it is working on alpha just fine, but not on stage. I don't know what the difference is. You changed something on the nginx.conf on Stage (I stashed that), but you haven't done it in Alpha. I would like to understand the mechanism causing that problem. I have also still on my local machine. Adhocracy is just accepting Requests from certain h

[2015-10-22 14:14] nidico commented on #302
Some naming fuckup. For some reason one is called `adhocracy-frontend-stage.policycompass.eu`, the other `adhocracy-prod.policycompass.eu`. I did a fixup in a2ff577ccb1.

@slomo changed `localhost` to `127.0.0.1` due to some broken IPv6 configuration on the staging server. Don't know if this is still relevant.

[2015-10-22 14:14] nidico commented on #302
I deployed this on stage now, closing.

[2015-10-22 14:14] #302 closed

[2015-10-22 14:35] mmilaprat commented on #302
just a question, it's possible to configure our local environments with a mix of our own PC backend (datasets, metrics, events, visualisations APIs) and the adhocracy backend?

I'm trying to use to check the authentication in the FE and  in the backend, but I still having the errors reported in this issue in the FE.

I use these end points:
'ADHOCRACY_BACKEND_URL': 'https://adhocracy-frontend-stag

[2015-10-22 15:10] mmilaprat opened #313 "Log In redirects you to home page"
The login action redirects you to the home page, is it possible that login keeps you on the same page as before?

[2015-10-22 21:07] nidico commented on #302
Yes. The endpoints are fine, but you also need to configure the endpoint in the django services settings, i.e.

    'adhocracy_api_base_url': 'https://adhocracy-frontend-stage.policycompass.eu/api'

[2015-10-22 23:34] cbotsikas commented on #308
Although my commit reduces the css overall size to ~half (from 237kb to 119kb), we should consider combining them too since we don't do lazy loading.

[2015-10-23 06:08] mmilaprat commented on #302
it works, thanks!!

[2015-10-23 06:20] mmilaprat commented on #311
about backend, into the metricsmanager model there is the field creator_path where user information is stored (self.request.user.resource_path).

creator_path = models.CharField(max_length=1024, validators=[ RegexValidator("^(/[^/]*)+/?$") ])

creator_path is the "new" user_id field? we must update all models to harmonize APIs?

[2015-10-23 08:16] MagdaN commented on #311
yes, you need to do that, @slomo also updated the migrations files (https://github.com/policycompass/policycompass-services/tree/master/apps/metricsmanager/migrations). I think, he first changed the user_id from integer to char field and in the next migration he changed the name.

[2015-10-23 08:43] mmilaprat commented on #311
Ok, I'll rename the field user_id into the visualisation model.

[2015-10-23 10:34] mmilaprat opened #314 "Error creating a metric"
When I try to save a metric I get an error in the javascript console.

POST https://services-stage.policycompass.eu/api/v1/metricsmanager/metrics 400 (BAD REQUEST)

[2015-10-26 08:53] slomo commented on #314
Can't reproduce this without more details. I can create a metric.

[2015-10-26 09:15] FabiApfelkern opened #315 "No Axis Label When Unitless"
When visualizing data without specific unit (unitless), the axis is labeled with "Unitless". It is better do not have this label in this case, just ave no label on the axis.

[2015-10-26 09:19] mmilaprat commented on #314
Step 1

[2015-10-26 09:23] mmilaprat commented on #315
Can you give me an example?

[2015-10-26 09:27] FabiApfelkern commented on #315
In this screenshot it is "People". Just leave this label when it is Unitless. I didn't find a Unitless Example.

![screenshot from 2015-10-26 10-26-41](https://cloud.githubusercontent.com/assets/1488424/10725396/14bbbaa0-7bcc-11e5-92da-473e9835ad7a.png)

[2015-10-26 09:35] FabiApfelkern opened #316 "Better Action When Clicking on Legend Item"
When clicking on a legend item, the event modal opens. It would be much better to get into the edit menu of the dataset in order to change the color very quickly. At the moment the user has to navigate a lot to change the color.

![screenshot from 2015-10-26 10-33-16](https://cloud.githubusercontent.com/assets/1488424/10725541/fe5b77ae-7bcc-11e5-9403-e83949775793.png)

[2015-10-26 09:35] mmilaprat commented on #315
I'm not sure, but probalby there is a unit called "Unitless" in the database. When a dataset doesn't have a valid unit (unit_id=0) the label is "No unit"

https://frontend-stage.policycompass.eu/app/#!/visualizations/create/?datasets=16

[2015-10-26 09:38] FabiApfelkern commented on #315
This is not bug, I know there is a unit called Unitless. :) We just want the feature, that this unit is not displayed.

[2015-10-26 09:39] mmilaprat commented on #315
ok, now I understand :-)

[2015-10-26 10:28] slomo commented on #314
You for get to set the indicator and the frontend seems not to notice this. @MagdaN could you maybe have a look why it still allows to send the form?

[2015-10-26 10:38] MagdaN commented on #314
yes

[2015-10-26 11:15] mmilaprat commented on #316
to do something like that, we must move the current way to open the event selector modal window.

To open the modal event window users should click over the lines, not over the chart area like now. It's correct for you?

[2015-10-26 11:24] #314 closed

[2015-10-26 13:58] nadiapo opened #318 "Upload dataset - step 5 - new indicator is not shown immediately"
In the Upload dataset wizard, step 5, if I select to create a new indicator, when I create it and view back the step 5 screen, the new indicator is not automatically shown. I had to search first and then it was refreshed.

[2015-10-26 14:11] FabiApfelkern commented on #318
Thank you! This is because Elasticsearch needs a moment to make new entities available. I will work on a workaround.

[2015-10-26 14:21] nadiapo opened #319 "upload dataset - cannot save and finish"
In the Upload dataset wizard, when I finalise the wizard and click on Save & Finish I get the error message:
title: Dataset with this Title already exists.
acronym: Dataset with this Acronym already exists.

But if I search I cannot find any

when I go back to start again, the date of the wizard is still there
![capture](https://cloud.githubusercontent.com/assets/4747814/10731331/32165820-7bf5-11e

[2015-10-26 14:26] #308 closed

[2015-10-26 14:32] FabiApfelkern commented on #319
Actually the dataset was saved but not indexed because there is an error in it. Can you send me the table you tried to upload? That the data is still there is a feature to prevent the loss of data because there are so many steps. It is cached in the browser storage. You can use the "Cancel" button to empty it.

[2015-10-26 16:20] mmilaprat commented on #316
A posibility, if there are datasets related with a visualisation, when a user clicks over the button "Link Dataset" the modal window will opened with the tab "Datasets Configuration" actived by default.

We also can delete buton "Edit mode".

![26-10-2015 17-12-09](https://cloud.githubusercontent.com/assets/6602727/10734897/c45bacde-7c05-11e5-8a95-6c231dabe789.png)

[2015-10-26 16:36] #252 closed

[2015-10-27 11:00] slomo commented on #262
Has been fixed in policycompass/policycompass-services#66

[2015-10-27 11:00] #262 closed

[2015-10-27 11:33] nadiapo opened #320 "New unit categories"
Please add the following unit categories:
- Percentage
- General unit

[2015-10-27 12:07] nadiapo commented on #319
I tried to upload another dataset and I get again an error at the end when clicking save & Finish:

![capture](https://cloud.githubusercontent.com/assets/4747814/10757480/973a9be2-7cab-11e5-9cfd-ca223dbb7e75.JPG)

[2015-10-27 12:20] FabiApfelkern commented on #319
Can you send me a screenshot from Step 6, where you see the final dataset? I bet we have just some misunderstandings how to use the wizard and I forgot to catch some wrong data. Thanks.

[2015-10-27 12:22] nadiapo commented on #319
![capture](https://cloud.githubusercontent.com/assets/4747814/10757849/c87e2f28-7cad-11e5-850b-e83b8b0a43fb.JPG)

[2015-10-27 12:25] FabiApfelkern commented on #319
Thanks

[2015-10-27 12:29] FabiApfelkern commented on #320
Unit Category or Unit? Because Percentage is a Unit and already there. https://services-prod.policycompass.eu/api/v1/references/units/23

[2015-10-27 12:31] nadiapo commented on #320
Unit Category as appears in the Define New Indicator screen
https://alpha.policycompass.eu/app/#!/indicators/create

[2015-10-27 12:35] FabiApfelkern commented on #320
Ok. But Percentage or General Unit are not Unit Categories. A Unit Categorie is the physical dimension if an unit, like mass or length. Indicators are linked to a unit category, because it doesnt matter if you measure something in g or kg.

[2015-10-27 12:42] nadiapo commented on #320
It is because I couldn´t find matching unit categories for those:
https://alpha.policycompass.eu/app/#!/indicators/10
https://alpha.policycompass.eu/app/#!/indicators/18

[2015-10-27 12:52] FabiApfelkern commented on #320
What do you think might be the Unit for datasets linked to those indicators?

[2015-10-27 12:55] nadiapo commented on #320
For one dataset is what I would propose a general type of unit (more specifically arms) and the other one is % GDP growth

[2015-10-27 13:04] FabiApfelkern commented on #320
Ok. I think we cannot support such special units. Arms is unitless and for % GDP growth I would take just % and the rest is meta data. So both of your indicators are dimensionless.

[2015-10-27 13:25] mmilaprat opened #321 "Events - Search for an Event"
The import Event form is a bit difficult to use, threre aren't any alert/help messages that inform you about the mandatory fileds.

Start/end range dates are mandatory to search events? I only found data if I fullfil these fields.

A return button is missing, if you click over "Import Event from Externa Resource" you cannot return to the form page.

[2015-10-27 13:31] YuriGlickman commented on #316
Personally, I agree with Miquel's proposal. I would additionally:
1) rename the button "Link Datasets" to "Configure Datasets"
2) rename the tab "Search Datasets" to "Add Datasets"

[2015-10-27 14:35] nidico commented on #61
The only remaining task here is moving the *add proposal* button into the request listing column and remove the header.

[2015-10-27 15:08] nidico commented on #83
This has already been implemented.

[2015-10-27 15:08] #83 closed

[2015-10-27 15:15] nidico commented on #85
This is already done.

[2015-10-27 15:15] #85 closed

[2015-10-27 15:15] nidico commented on #232
@YuriGlickman - any news here?

[2015-10-27 15:26] nidico commented on #216
This is done as much as can easily be done without major extension of AdhocracySDK.

[2015-10-27 15:26] #216 closed

[2015-10-27 15:27] FabiApfelkern commented on #319
@nadiapo Can you please try again, but in Step 2 under "Data Dimension Type" choose "Custom".

[2015-10-27 15:58] nidico commented on #261
@FabiApfelkern - does this problem still persists? We're using the auth module without problems in other places...

[2015-10-27 15:59] nidico commented on #311
@mmilaprat - do you still have an open question?

[2015-10-27 16:08] slomo commented on #259
Resolved.

[2015-10-27 16:08] #259 closed

[2015-10-27 16:28] nidico opened #323 "User indicator shows logout state while auth is still loading"
Adhocracy takes a moment to load after pcompass has loaded. At the moment, the pcompass user indicator looks like the user isn't logged in while it's still loading.

Instead the indicator should somehow indicate that auth isn't ready yet.

This may lead to false positives in some cases, e.g. possibly #260.

[2015-10-27 16:49] nidico commented on #276
@mmilaprat - I guess this is now obsolete, or not?

[2015-10-27 17:18] mmilaprat commented on #311
I update visualisation model in order to arminize the field where we store tue user id.

[2015-10-27 17:19] mmilaprat commented on #276
in fact no. We need a directive to check if users can edit or delete items

more info in issue 311 policycompass/issues/311

[2015-10-27 18:29] #276 closed

[2015-10-28 09:36] #323 closed

[2015-10-28 10:17] mmilaprat commented on #315
Done. PR 210
policycompass/policycompass-frontend/pull/210

[2015-10-28 10:17] #315 closed

[2015-10-28 10:34] FabiApfelkern commented on #319
@nadiapo I found the real bug. The problem is that the pandas library as problems with dates before the unix timestamp started, so before 1970. I will fix it as soon as possible.

[2015-10-28 10:54] #305 closed

[2015-10-28 11:16] #61 closed

[2015-10-28 12:26] FabiApfelkern commented on #260
@nidico  Unfortunately the error remains.

[2015-10-28 12:42] FabiApfelkern commented on #319
This should be fixed and it is already deplyoed on Stage. Can you test it there please? I also deleted the corrupted datasets on Alpha.

[2015-10-28 13:03] nidico commented on #234
This has been fixed upstream and is deployed on staging.

[2015-10-28 13:03] #234 closed

[2015-10-28 13:30] nadiapo commented on #319
I tried it and it works on stage. Can you delete again corrupted datasets on alpha and let me know when I can proceed with the scenario on alpha?

[2015-10-28 13:39] FabiApfelkern commented on #319
Great. I will do that today and let you know.

[2015-10-28 13:47] mmilaprat commented on #316
PR # 219 ( policycompass/policycompass-frontend/pull/219)

[2015-10-28 13:47] #316 closed

[2015-10-28 13:50] mmilaprat commented on #311
@MagdaN , do you know when the directive to know if user can edit/delete an item will be ready?

[2015-10-28 13:51] mmilaprat commented on #296
PR # 214 ( policycompass/policycompass-frontend/pull/214)

[2015-10-28 13:51] #296 closed

[2015-10-28 13:53] mmilaprat commented on #264
done!!

[2015-10-28 13:53] #264 closed

[2015-10-28 13:53] MagdaN commented on #311
I am working on it just now

[2015-10-28 13:53] mmilaprat commented on #311
thanks

[2015-10-28 14:14] FabiApfelkern commented on #319
@nadiapo I deployed it to Alpha. Please try it again.

[2015-10-28 14:29] FabiApfelkern opened #324 "Add Static Django Resources to Nginx for Production Mode"

[2015-10-28 15:30] MagdaN commented on #311
I added a pull request for the directive: https://github.com/policycompass/policycompass-frontend/pull/220

please check if it works

[2015-10-29 14:32] nadiapo opened #325 "Edit Indicator fails to preselect values"
When I select to edit an indicator, sometimes it does not preselect the values for the Unit Category and Policy Domains fields. This does not happen always, usually when I go to edit for the first time in the same browser cache.

[2015-10-29 17:37] cbotsikas opened #326 "Create Rating Service"

[2015-10-29 17:39] cbotsikas opened #327 "UI Design for Rating Service"

[2015-10-29 17:40] cbotsikas opened #328 "Add Auth for Rating Service"

[2015-10-29 17:40] cbotsikas opened #329 "Integrate Rating score to Search results"

[2015-10-30 09:23] FabiApfelkern opened #330 "Auth for FCM"
Auth needs also integration into FCM. So especially the backend needs to be prepared for it.
@belalakbar @aquinas9 Are you working on this?

[2015-11-02 14:02] #319 closed

[2015-11-02 14:02] nadiapo opened #331 "Edit Dataset"

[2015-11-02 14:13] nadiapo opened #332 "Upload Dataset wizard"
- last step of wizard, external resource is mandatory but does not appear with an asterisk - worldbank and oecd is not there - shall we add it?
- if in step5 select to add a new indicator and then click cancel, I am redirected at the home page
- Step 7, cannot select language with keyboard, I always have to click on it with the mouse

[2015-11-03 10:41] nadiapo opened #333 "Delete dataset navigation"
When I delete a dataset, I am navigated to Browse, but through this link
https://alpha.policycompass.eu/app/#!/browse/dataset
instead of this:
https://alpha.policycompass.eu/app/#!/browse
Resulting in not viewing correctly the faceted search

[2015-11-03 10:46] nadiapo opened #334 "Delete dataset"
I can delete a dataset even if there is content created based on that dataset. For example I have a visualisation based on a dataset which I deleted which now displays an error
{"detail":"Not found"}

[2015-11-03 10:53] #268 closed

[2015-11-03 10:57] belalakbar commented on #254
@YuriGlickman regarding the domian size increase and auto selection of result tab. there are some limitation. i have spoke with @FabiApfelkern in last teleco he asked me to make new issue and assign him may b he can help.
@YuriGlickman so can we close this issue?

[2015-11-03 10:59] belalakbar commented on #253
@aquinas9 i spoke with younseok, it suggested that as each concept has already different color in graph so no need to changing color.

[2015-11-03 10:59] #253 closed

[2015-11-03 11:01] belalakbar commented on #247
@YuriGlickman regarding the domian size increase and auto selection of result tab. there are some limitation. i have spoke with @FabiApfelkern in last teleco he asked me to make new issue and assign him may b he can help.
@YuriGlickman so can we close this issue?

[2015-11-03 11:01] nadiapo commented on #333
Looks like the funcionality is like this because the content typeis selected in the drop down of the search

[2015-11-03 11:01] #333 closed

[2015-11-03 11:01] #199 closed

[2015-11-03 11:02] #114 closed

[2015-11-03 11:02] #245 closed

[2015-11-03 11:07] mmilaprat opened #335 "Improve visualisation maps"
maintain zoom, lat and lng when reload chart.
add buttons to move the map
add scale
time selector (from, to). At this moment when you select a value, the combo hide some past options.
add start, stop, buttons to load the slider time automaticaly in maps

[2015-11-03 11:12] FabiApfelkern commented on #199
@belalakbar Why is this closed. The FCM Frontend looks the same.

[2015-11-03 11:21] nadiapo opened #336 "Language selector"
in the items forms, the Language selector must be in alphabetical order

[2015-11-03 13:27] cbotsikas opened #337 "Greek language label is wrong"
The label for Greek language should be "Greek" not "Greek, Modern (1453-)"

[2015-11-03 13:46] cbotsikas opened #338 "Upload Dataset wizard"
* Why is it asking for an acronym? Does if have any meaning?
* Why is it mandatory to relate with an indicator? Uploading datasets should be independent from indicators!
* External Resource custom values not populated in list (e.g. World Bank). Shouldn't the list get populated by the user's input too?
* Dataset URL might be irrelevant when data not publicly available prior upload! Users should be

[2015-11-03 14:54] cbotsikas opened #339 "Language select box should be updated with the language selector used in Datasets"

[2015-11-03 15:03] cbotsikas opened #340 "Trying to visualise a dataset as a guest user, prompts to login"
Is this expected?

[2015-11-03 15:08] cbotsikas opened #341 "The visualisations’ scaling does not work right"
e.g. https://alpha.policycompass.eu/app/#!/visualizations/3 the vertical axis’ scale

[2015-11-03 15:10] cbotsikas opened #342 "The search for indicators returns only the first 10 that were put in the platform."

[2015-11-03 15:12] cbotsikas opened #343 "FCM Relationship Weights should include number"
e.g. Weak Negative (-0.5)

[2015-11-03 15:12] cbotsikas opened #344 "FCM simulation and graphs should be available in view mode"

[2015-11-03 15:13] cbotsikas opened #345 "Editing a relationship in an FCM from diagram doesn't keep weight"

[2015-11-03 15:14] cbotsikas opened #346 "Linking datasets to specific concepts"
what does it offer? where’s the value?

[2015-11-03 15:17] cbotsikas opened #347 "Typo in Relationship Weight options"
Very **Week** Positive/Negative → Very **Weak** Positive/Negative

[2015-11-03 15:30] cbotsikas opened #348 "Casual Models Creation"
* The number of iterations seems to be fixed at 20 iterations, thus not allowing the user to understand at which iteration the values stabilize (the concept values corresponding to iterations after convergence are unnecessary information)
* The fixed concept/weight values are reasonable, but fixed values for calculations at the iteration level do not allow for subtle variations to be evident
* Tes

[2015-11-03 16:51] mmilaprat opened #349 "Redesign datasets detail page"
Metrics & datasets main page don't have the same UI

Example:
title must be like this:

For metric:
< h1 class="fonticon fonticon-metric ng-binding" >Title< / h1 >

For dataset:
< h1 class="fonticon fonticon-dataset ng-binding" >TDS< / h1 >

[2015-11-03 20:15] YuriGlickman commented on #343
I am not sure about that. Imho "weak negative" is enough- What "0,5" tells you if you know nothing about FCMs

[2015-11-03 20:16] YuriGlickman commented on #342
is it not your issue Christos ;)

[2015-11-03 20:17] YuriGlickman commented on #340
yes, we have ti fix that. Please re.assign

[2015-11-03 20:18] YuriGlickman commented on #339
Please provide more details.

[2015-11-03 20:19] cbotsikas commented on #342
metrics doesn't use the search api but directly the indicators service. In either case, it's not supporting the pagination feature of the results.

[2015-11-03 20:21] cbotsikas commented on #343
I think the point here is that the diagram uses numbers where the forms use text and there is no relation between them. This is why we proposed to include the values along with the text.

[2015-11-03 20:22] YuriGlickman commented on #343
Probably it is good to have both

[2015-11-03 20:23] YuriGlickman commented on #342
So, Fabian?

[2015-11-03 20:31] cbotsikas commented on #339
Indicators have an outdated UI and it's not aligned with the new design.
Specifically for this issue, the language selection is using the standard HTML Select box.
![capture2](https://cloud.githubusercontent.com/assets/1640100/10920743/1cfb8a9a-8272-11e5-9e1b-79b4c34b3012.PNG)
Datasets, on the other hand, use the new PC select box.
![capture](https://cloud.githubusercontent.com/assets/1640100/1092

[2015-11-03 22:23] cbotsikas commented on #247
@belalakbar you can't close issues without resolving them; either by replying with detailed solution or linking to merged commits and/or new issues

[2015-11-03 22:23] cbotsikas commented on #254
@belalakbar you can't close issues without resolving them; either by replying with detailed solution or linking to merged commits and/or new issues

[2015-11-03 22:32] cbotsikas commented on #251
@belalakbar you can't close issues without resolving them; either by replying with detailed solution or linking to merged commits and/or new issues

[2015-11-03 22:36] cbotsikas commented on #253
@belalakbar i think you wanted to mention @YuriGlickman

[2015-11-03 23:18] cbotsikas commented on #334
@nadiapo I'm afraid that's the case for every entity in PC since almost everything is loosely linked together. Visualizations contain datasets and events, datasets are linked with indicators, metrics use indicators, FCM links to datasets etc.
Maybe we should consider the option that "deleting a entity", doesn't actually delete it (cause in that case we brake the linked entities) but instead flag i

[2015-11-04 06:49] mmilaprat commented on #339
Events and Visualisations also have the outdated UI.

[2015-11-04 08:45] nidico commented on #334
Yes, no referential integrity assured.

I like that idea.

[2015-11-04 10:28] belalakbar commented on #247
@cbotsikas
all the point of this issues are solved except the number 2, which I am facing some difficulty, where i need help from other partner. in last teleco I spoke with fabian he asked me make new issue and assign him so that is why I closed these issue and will make new issue to assign fabian and me.

[2015-11-04 10:31] rukala opened #350 "Deleting selected dimension items difficult"
When I want to delete selected fields of a dataset for a specific data dimension type in the list on the right, and this list is long so it can be scrolled, the scroll bar lies above the delete "x" of the individual items.

![bildschirmfoto 2015-11-04 um 11 30 30](https://cloud.githubusercontent.com/assets/11075214/10935617/833e55d8-82e7-11e5-9d51-a00b6ff4b3c4.png)

[2015-11-04 10:31] FabiApfelkern commented on #342
@cbotsikas What is the issue here, I don't get it?

[2015-11-04 10:38] belalakbar commented on #348
@cbotsikas
* Yes iteration are fixed at 20, because each concept has a convergence value at different number of iteration. IN FCM theory the policy maker (user) need to observe the constant value rather number iteration. therefore,   initially the number of iteration was 50, however  in different run simulation result we (brunel team) observe that within the 20 iteration each concept get the const

[2015-11-04 10:40] FabiApfelkern commented on #338
Why is it asking for an acronym? Does if have any meaning?

 - This is part of our data model. It is used e.g. for metrics formulas.

Why is it mandatory to relate with an indicator? Uploading datasets should be independent from indicators!

- Each dataset HAS to be linked to an indicator. This is our methodology.

External Resource custom values not populated in list (e.g. World Bank). Shouldn't

[2015-11-04 10:41] FabiApfelkern commented on #350
@rukala What browser do you use?

[2015-11-04 10:44] #235 closed

[2015-11-04 10:46] mmilaprat commented on #340
Yes, it is because if you try to visulise a dataset you are redirect to the visualisation form, and only logged user can create content.

[2015-11-04 10:48] FabiApfelkern commented on #338
I include @nadiapo feedback here (https://github.com/policycompass/policycompass/issues/332):

- last step of wizard, external resource is mandatory but does not appear with an asterisk - worldbank and oecd is not there - shall we add it?
- if in step5 select to add a new indicator and then click cancel, I am redirected at the home page
- Step 7, cannot select language with keyboard, I always have

[2015-11-04 10:48] #332 closed

[2015-11-04 10:48] FabiApfelkern commented on #332
Moved issues to https://github.com/policycompass/policycompass/issues/338

[2015-11-04 10:49] FabiApfelkern commented on #331
This is not implemented yet.

[2015-11-04 10:49] FabiApfelkern commented on #330
@belalakbar @aquinas9 Please give some feedback here....

[2015-11-04 10:50] FabiApfelkern commented on #324
Darft version runs on Stage.

[2015-11-04 10:52] FabiApfelkern commented on #340
Yes, only logged in users can create content, but when you only create it when you click on the "Save" button.

[2015-11-04 10:53] cbotsikas commented on #342
https://frontend-stage.policycompass.eu/app/#!/metrics/create-1 has a list o indicators to add in the formula but it only displays and filters the first 10 indicators from the api. eg https://frontend-stage.policycompass.eu/app/#!/indicators/16 is not listed there since it's the 11th indicator in the system.

[2015-11-04 10:54] belalakbar commented on #330
I will start working on this issue in next week.

[2015-11-04 10:54] belalakbar commented on #343
ok I will do put number there

[2015-11-04 10:56] FabiApfelkern commented on #267
No it's not correct. You can change it.

[2015-11-04 10:57] FabiApfelkern commented on #261
Seems to work.

[2015-11-04 10:57] #261 closed

[2015-11-04 10:57] belalakbar commented on #346
Linking to dataset will provide the input data for calculating the fuzzy value of concept and weight of association. currently we are working on this issue and finalizing the methodology.

[2015-11-04 10:58] belalakbar commented on #345
can you please explain a bit more.

[2015-11-04 11:02] belalakbar commented on #251
merged commit 912bb50  by fabian on 7 days ago.

[2015-11-04 11:02] mmilaprat commented on #229
How we proceed with this? I must delete the links Privacy, Contact, Terms of Use ?

[2015-11-04 11:07] belalakbar commented on #113
@mmilaprat
do this issue need  to be closed?

[2015-11-04 11:09] mmilaprat commented on #113
yes

[2015-11-04 11:09] #113 closed

[2015-11-04 11:10] belalakbar commented on #115
@nadiapo
can you please give elaborate a bit more.

[2015-11-04 11:12] takiant commented on #345
Let's suppose you have designed an FCM and you note that a relationship has a wrong destination concept.
Trying to edit the relationship through double-clicking it causes the initial weight to disappear.
This shouldn't be the case.

[2015-11-04 11:13] mmilaprat commented on #340
then, guest user must be able to "play" with visualisation and only "Save" button must be "hidden"?

[2015-11-04 11:16] cbotsikas commented on #229
This is related to https://github.com/policycompass/policycompass/issues/232
@YuriGlickman how should we proceed?

[2015-11-04 11:49] FabiApfelkern commented on #342
Ok, but this is an issue for Liqd then, isn't it?

[2015-11-04 11:54] #220 closed

[2015-11-04 11:55] nidico commented on #220
Request service is ready.

[2015-11-04 11:57] cbotsikas commented on #342
So it's @nidico ?

[2015-11-04 12:24] takiant commented on #348
@belalakbar
1) So, is it possible to present only the number of iterations until convergence? (which may be well below 20)

2) What we mean is that if a concept's assigned initial value is 0.2 and the final value after the simulation is e.g. 0.3, which is the final value that the user will get? 0.2 or 0.4? Additionally, should we add more decimal digits to show even small variations in a concept's

[2015-11-04 12:43] belalakbar commented on #348
I think I s not possible to present the number of iterations until convergence because each concept have different number of iterations until convergence , however model run given iteration.
The user will use the final value 0.4.
I will add more description about advance setting in help menu.

[2015-11-04 12:48] takiant commented on #338
@FabiApfelkern
Why is it mandatory to relate with an indicator? Uploading datasets should be independent from indicators!
- Each dataset HAS to be linked to an indicator. This is our methodology.

To get it right, only the selected/created indicator is stored in the platform, and not the complete dataset. Is that correct?

[2015-11-04 12:52] belalakbar commented on #254
@cbotsikas
I have resolved the "Spelling mistake in the pop-up window name: "Causal" an not "Casual" :)" and its merged. but with second part, I need some help from team. I asked fabian he said to make new issue and assign it to him and me.

normally what issue under new branch is merged I close that issue same as other.

[2015-11-04 12:56] cbotsikas commented on #203
@YuriGlickman adding policy domains in facet can get messy due to limited space. take a look here:
![capture](https://cloud.githubusercontent.com/assets/1640100/10938578/b2baabc2-82fb-11e5-965c-dd01aac0f1a6.PNG)
About the "Location - with a list of countries" where do we use such info?

[2015-11-04 14:47] FabiApfelkern opened #351 "Dataset Manager Step 4 doesn't acceps Zeros"

[2015-11-04 14:48] FabiApfelkern opened #352 "Check Social Share Links"

[2015-11-04 15:01] FabiApfelkern opened #353 "Improve Interactive Row Filling"
- Allow gaps in the rows
- Reset individual row
- Enable manual input

[2015-11-04 20:44] FabiApfelkern commented on #340
As discussed today, deactivate the Save button until when user is not logged in.

[2015-11-04 20:45] FabiApfelkern commented on #334
This is a difficult topic. We should postpone to after the review.

[2015-11-04 20:47] FabiApfelkern commented on #320
@nadiapo Can we close this for now?

[2015-11-04 20:51] FabiApfelkern commented on #251
@belalakbar The commit links should be clickable. Just copy the entire URL

[2015-11-04 20:52] FabiApfelkern commented on #232
@YuriGlickman Can you give us an update here?

[2015-11-04 20:53] FabiApfelkern commented on #222
We agreed to disable the button for now.

[2015-11-04 20:54] FabiApfelkern commented on #203
We decided on Policy Domains and Location instead of Category and Language.
Furthermore to change to "real" faceted search.

[2015-11-04 20:55] FabiApfelkern commented on #200
I will close this for now and we will review our design next project year. Some improvements were already made.

[2015-11-04 20:55] #200 closed

[2015-11-04 20:55] #197 closed

[2015-11-04 20:56] FabiApfelkern commented on #158
@cbotsikas Can you give some feedback!

[2015-11-04 20:57] FabiApfelkern commented on #99
What is the status of that one?

[2015-11-04 21:00] FabiApfelkern opened #354 "Check all Links in the Frontend"

[2015-11-04 21:01] FabiApfelkern opened #355 "Error Popup when Editing a FCM"
When editing a FCM a error popup with the message "datasetList.results[j] is undefined" appears.

[2015-11-04 21:02] FabiApfelkern opened #356 "Automatic Switch to Simulation Tab"

[2015-11-04 21:02] FabiApfelkern commented on #247
Left issue is now here: https://github.com/policycompass/policycompass/issues/356

[2015-11-04 21:02] #247 closed

[2015-11-04 21:03] FabiApfelkern opened #357 "Cancel Button in FCM Edit View"

[2015-11-04 21:04] FabiApfelkern opened #358 "Adhocracy Integration into FCM Read View"
Moreover remove the Comment tab in edit mode.

[2015-11-04 21:05] FabiApfelkern opened #359 "Auto Save FCM Before Running Simulation"
At the moment it is necessary to save a FCM before changes apply, This confuses and is not clear for the user. He executes a simulation and nothing changes.

[2015-11-04 21:07] FabiApfelkern opened #360 "Apply Metric Does Not Work"
The unit seems to be missing, therefore a Metric cannon be saved as Dataset.

[2015-11-04 21:08] FabiApfelkern opened #361 "New Metrics do not appear in Browse"

[2015-11-04 21:09] FabiApfelkern opened #362 "Auth in Dataset Manager Frontend"

[2015-11-04 21:11] FabiApfelkern opened #363 "Search for Suitable Data in European Data Portal"
A simple search mask for finding suitable data in the EDP, which can be used as a starting point for a new Dataset

[2015-11-05 07:03] cbotsikas commented on #251
@belalakbar I had to search for the [912bb50](https://github.com/policycompass/policycompass-frontend/commit/912bb503c0096bf9018dcaf19dc29acbb311c96b) (please, as @FabiApfelkern said, use full urls next time) which apparently merges PR https://github.com/policycompass/policycompass-frontend/pull/218 that solves Issue https://github.com/policycompass/policycompass/issues/268 and in this case, it's

[2015-11-05 10:26] cbotsikas opened #364 "dataset migration fails without database"
When you execute mange.py migrate without any database, migrations fail and stop while processing 0002_dataframe.
[code]

[2015-11-05 14:19] belalakbar commented on #355
Hi @FabiApfelkern and @mmilaprat

Regarding this error, I am not facing this error on my local machine. I investigated this error further and I think the following is may be the issue:

Find below the error position:

  $scope.Datasets = Datasets.query({}, function(datasetList)
  {
	for (i=0; i<$scope.SimulationConcepts.length; i++)
	{
		for (j=0; j<datasetList.count; j++)
		{
			if (datasetList.r

[2015-11-05 14:23] cbotsikas commented on #355
The issue can be seen here:
https://frontend-stage.policycompass.eu/app/#!/models/9/edit
https://frontend-stage.policycompass.eu/app/#!/models/4/edit
don't know about others

[2015-11-05 14:25] belalakbar commented on #330
Hi @FabiApfelkern

Can you please elaborate this in detail?

[2015-11-05 15:12] cbotsikas commented on #355
you can't reproduce the error on your local machine because you probably don't have more that 10 datasets. datasetList.count is the total number of datasets which may not be equal to datasetList.results.length. You could ask for more results in one request by passing page_size parameter on the request, but i don't recommend it.

Based on the following i think you're doing things wrong.
[code]

Fir

[2015-11-05 15:28] cbotsikas commented on #355
@FabiApfelkern just to make sure, the error is actually "Cannot read property 'id' of undefined" and in the console there is the error saying "TypeError: Cannot read property 'id' of undefined
    ***at cytoscape.js:242***" correct?

[2015-11-05 15:32] FabiApfelkern commented on #355
No it is excatly: "angular.min.js (line 92) Error: datasetList.results[j] is undefined"

[2015-11-05 15:43] cbotsikas commented on #355
ok, it's the same error, different browser...

[2015-11-05 16:56] FabiApfelkern commented on #330
@belalakbar I talked with Yuri and we decided, that Auth for FCM is not that relevant for the review and to complex at the moment to implement. But please make this a priority after the review. Get familiar with our Auth API: https://github.com/policycompass/policycompass/wiki/Auth-Service. You need to integrate it into both backend and frontend.

[2015-11-06 08:11] #335 closed

[2015-11-06 14:32] nadiapo opened #365 "Error when saving a newly created FCM"
When I try to save a new FCM I get the following error:
Cannot read property 'id' of undefined

After that, the FCM is successfully saved

[2015-11-06 14:36] nadiapo commented on #254
All FCM dialogs have very big font in comparison to the rest of the portal. Please use same font sizes

[2015-11-06 14:39] nadiapo commented on #115
@belalakbar this is what we agreed in the meeting in Cambridge. From a visualisation, when we click the "Create Casual Model" button we will go to the FCM page with concepts pre-populated based on the indicators of the visualisation. The list of indicators will be passed from the visualisations screen when clicking the button.
I hope it is a bit more clear now.

[2015-11-06 15:48] FabiApfelkern commented on #365
This is a duplicate: https://github.com/policycompass/policycompass/issues/355

[2015-11-06 15:48] #365 closed

[2015-11-08 13:37] belalakbar commented on #359
@FabiApfelkern the changes in FCM saved at two different points. 1st when some make changes in the causal model. it need to be saved  before changes in the value section. however as the user change the values of concept and weight in the simulation section these changes already automatically saved.

[2015-11-08 14:06] belalakbar commented on #357
@mmilaprat I implemented this in Create/Edit Causal Model, kindly make changes in CSS for Save As button as well for proper view.

[2015-11-08 14:30] belalakbar commented on #345
is this happen before you save the model?
if the answer then it will be case, because the values are saved after the model is saved.
if you change the direction of a saved model then it keep the values.

however editing a new model need to saved before the values appear.

[2015-11-08 14:48] belalakbar commented on #343
https://github.com/policycompass/policycompass-frontend/pull/229

[2015-11-08 14:49] belalakbar commented on #347
https://github.com/policycompass/policycompass-frontend/pull/228

[2015-11-08 14:49] belalakbar commented on #355
https://github.com/policycompass/policycompass-frontend/pull/227

[2015-11-08 14:50] belalakbar commented on #365
https://github.com/policycompass/policycompass-frontend/pull/227

[2015-11-08 14:51] belalakbar commented on #357
https://github.com/policycompass/policycompass-frontend/pull/226

[2015-11-08 15:51] FabiApfelkern commented on #359
I couldn't follow you explanations 100%. Have you changed something or just stated a fact?

[2015-11-08 17:54] belalakbar commented on #359
i have stated a fact that
model editing and run simulation are two different level so need to dealt at different level.

level one is model editing (which add concept and creating association), which need to be save before going to simulations level.
at simulation level the concept values and weights are edited when user hit the run simulation tab it automatically save the concept values and weigh

[2015-11-08 18:07] belalakbar commented on #358
https://github.com/policycompass/policycompass-frontend/pull/230

[2015-11-09 07:45] mmilaprat commented on #357
@belalakbar , a css update is not needed to solve this, if you update the links as buttons inside the button-group div they will be displayed correctly:

chanche this:
< a type="button" class="btn btn-primary btn-concept" ng-click="addObj()">Add Concept< / a >
< a ng-if="isDisabled == true" type="button" class="btn btn-primary btn-association" ng-click="addEdge()" disabled>Create Relationship< / a

[2015-11-09 10:36] belalakbar commented on #254
@nadiapo

We use the same css classes as other used.
For example,
'<div class="modal-header"><h4 class="modal-title">Simulation job has submitted successfully.</h4></div><div class="modal-footer"><button type="button" class="btn btn-default" ng-click="cancel()">Close</button></div>

How Can we change the font size for this?

[2015-11-09 11:08] mmilaprat commented on #340
After the last PR guest users can access to the visualisation form

[2015-11-09 11:08] #340 closed

[2015-11-09 11:09] mmilaprat commented on #267
updated in the PR 223

[2015-11-09 11:09] #267 closed

[2015-11-09 11:10] #96 closed

[2015-11-09 11:36] belalakbar commented on #359
@FabiApfelkern
to make it more clear for user I will more explanation in the help menu.
second
I will make pop up message " user need to save the causal model before running the simulation" as he hit the RUN simulation tab without saving the model.

it will make more clear to user.

[2015-11-09 12:43] FabiApfelkern commented on #359
Thank you for the explanations. Probably it is just a misunderstanding. Yuri and me had just another look. We didn't know that you already save the changes when running a simulation. So actually the used did not need to save before. But the issue is that the lower menu "Relationships" is not in sync with the graphical view of the model. So when you change the weight in the lower menu it is nor ref

[2015-11-09 14:27] aquinas9 commented on #359
@FabiApfelkern

I know the situation is quite complex :)

The reason we haven't synchronise the graph and simulation menu in lower section is coming from what we need to save. Basically, when user browse the saved model, the valued are coming from last simulation action.
To revise the FCM graph, user need to work with the graphical menu within canvas and save the changes. Or user run the simulatio

[2015-11-09 14:34] FabiApfelkern commented on #324
Done: https://github.com/policycompass/policycompass/pull/366

[2015-11-09 14:34] #324 closed

[2015-11-09 14:43] belalakbar commented on #251
2nd point
The 20 number of iteration are important because based on experiment we have observed that all the concept get the convergence within 20 iteration. it also shows that the concept does not change the convergence vale again.
for example after  5 iteration concept converge up to 8th iteration but it again converge from 8th to 15th. therefore we have twenty iteration that we can have the fix

[2015-11-09 14:45] belalakbar commented on #251
@cbotsikas
can I close this and question 348 now?

[2015-11-09 14:48] belalakbar opened #368 "Converting the Result value upto two digit point"
the simulation results shown up to two digit point.

[2015-11-09 16:25] FabiApfelkern opened #369 "Option for Indicator List without Pagination"

[2015-11-09 16:26] #342 closed

[2015-11-09 16:34] FabiApfelkern opened #370 "Monthly Visualization Displays always the same Month as Label"
E.g.: https://alpha.policycompass.eu/app/#!/visualizations/create/?datasets=40

[2015-11-09 19:48] belalakbar commented on #359
https://github.com/policycompass/policycompass-frontend/pull/234

[2015-11-09 19:49] belalakbar commented on #181
https://github.com/policycompass/policycompass-frontend/pull/232

[2015-11-09 20:22] belalakbar commented on #368
https://github.com/policycompass/policycompass-fcmmanager/pull/21

[2015-11-09 22:06] nadiapo commented on #320
Ok but units as they are now are not very helpful. We should rethink in the third year

[2015-11-10 10:18] belalakbar commented on #348
reference to https://github.com/policycompass/policycompass/issues/368

[2015-11-10 10:18] belalakbar commented on #348
policycompass/policycompass-fcmmanager#21

[2015-11-10 10:19] belalakbar commented on #346
reference to https://github.com/policycompass/policycompass/issues/181

[2015-11-10 10:20] belalakbar commented on #346
policycompass/policycompass-frontend#232

[2015-11-10 10:21] belalakbar commented on #345
https://github.com/policycompass/policycompass/issues/359

[2015-11-10 10:22] belalakbar commented on #345
policycompass/policycompass-frontend#234

[2015-11-11 04:02] #364 closed

[2015-11-11 07:43] #363 closed

[2015-11-11 08:07] FabiApfelkern opened #371 "Add Pagination to EDP Search"

[2015-11-11 08:15] #371 closed

[2015-11-11 08:32] mmilaprat commented on #254
probalby if you delete class "input-group-lg" from the div the fields will be displayed better:

< div class="form-group input-group-lg"  ....

< div class="form-group"  ....

[2015-11-11 09:07] cbotsikas commented on #361
Metric api changed a field type thus elastic search could understand the new data structure. In these cases, rebuild index method must be executed. I've done that for stage calling https://services-stage.policycompass.eu/api/v1/searchmanager/rebuildindex_metric.

[2015-11-11 10:08] nidico opened #372 "Install django-services fails due to missing STATIC_ROOT config variable in dev environment"
`Make` (or more concretely `bin/python3.4 manage.py collectstatic --noinput`) fails with the following error:

[code]

The `STATIC_ROOT` variable was introduced in `stage` and `prod` configs in ba1a601ef028, probably the same should be done for the `dev` config.

[2015-11-11 10:13] FabiApfelkern commented on #372
@nidico Can you workaround this bug for today?

[2015-11-11 10:16] nidico commented on #372
yes

[2015-11-11 10:22] cbotsikas commented on #355
@belalakbar although the error has disappeared, the actual code lines [236-245](https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/fcm/controllers/cytoscape.js#L236-L245) are never executed because $scope.SimulationConcepts.length is always 0 by the time it's executed. You need to move that, most likely inside the loop you have already at lines [214-221](https://github

[2015-11-11 13:34] #356 closed

[2015-11-11 14:05] #352 closed

[2015-11-11 14:05] FabiApfelkern commented on #222
Workaround merged. Removed from sprint.

[2015-11-11 14:05] #354 closed

[2015-11-11 14:13] #337 closed

[2015-11-11 15:23] #362 closed

[2015-11-11 16:42] th0br0 opened #373 "Importing a dataset from CKAN/EDP should prepopulate dataset fields"

[2015-11-11 16:54] #351 closed

[2015-11-11 17:24] #353 closed

[2015-11-11 17:31] #373 closed

[2015-11-11 20:06] #343 closed

[2015-11-11 20:26] #361 closed

[2015-11-11 20:31] #203 closed

[2015-11-11 20:31] #309 closed

[2015-11-12 06:23] #360 closed

[2015-11-12 12:39] nadiapo commented on #99
We have updated it, but there are still many gaps to cover with missing functionality. Need to improve after the review.

[2015-11-12 15:18] nadiapo opened #374 "Filtering visualisation by timeis not working properly"
When you select a year from it is automatically passed to to, instead of keeping it to from and maintaining to as it is.

[2015-11-12 15:21] nadiapo opened #375 "Map visualisations"
- colours between countries are usually very similar and very black
- it is usually very slow, needs to be smoother when scrolling through years - maybe by preloading data for all years so scrolling can be seamless?

[2015-11-12 17:18] #370 closed

[2015-11-12 17:18] #341 closed

[2015-11-13 01:22] #326 closed

[2015-11-15 11:55] #347 closed

[2015-11-15 11:55] #368 closed

[2015-11-15 11:55] #359 closed

[2015-11-15 11:56] #358 closed

[2015-11-15 11:57] #348 closed

[2015-11-15 11:57] #357 closed

[2015-11-15 11:58] belalakbar commented on #355
i will look into it.

[2015-11-15 11:58] #355 closed

[2015-11-15 11:59] #345 closed

[2015-11-15 12:00] #251 closed

[2015-11-15 16:27] cbotsikas opened #377 "Cancel Button in FCM should use absolute path"
FCM's cancel button in edit view makes use of [window's history](https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/fcm/controllers/cytoscape.js#L318-L323) instead of absolute location.
For example, if you navigate to https://alpha.policycompass.eu/app/#!/models/4/edit and then click cancel it's not guaranteed that you'll get to https://alpha.policycompass.eu/app/#!/mo

[2015-11-15 16:34] #327 closed

[2015-11-16 13:37] cbotsikas commented on #375
@nadiapo About the color issue, is it still valid? @mmilaprat had implemented initial coloring for the scale.

[2015-11-16 13:39] nadiapo commented on #375
I believe colouring is fixed, what needs to be done is to smooth transition through the time scroll

[2015-11-16 14:18] cbotsikas commented on #375
Ok, i've tracked the issue with the smooth transition and from what i understand, [map directive](https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/common/directives/mapscharts.js#L106) destroys and creates the map again, every time the slider changes. This should not happen. @mmilaprat you need to use liflet's methods to clear/reset the displayed data instead.

[2015-11-18 13:27] mmilaprat commented on #374
done in PR policycompass/policycompass-frontend/pull/256

[2015-11-18 13:27] #374 closed

[2015-11-18 13:28] #311 closed

[2015-11-18 19:51] cbotsikas opened #378 "Code format"

[2015-11-21 15:54] belalakbar commented on #344
What does mean by view mode?

[2015-11-21 16:15] belalakbar commented on #115
@nadiapo How can you pass the list of indicators?

[2015-11-21 18:15] cbotsikas commented on #344
When viewing a Causal Model for example here: https://alpha.policycompass.eu/app/#!/models/9
There are two tabs below the graph labeled "Simulation" and "Graph" that contain data only when someone is in Edit Mode (aka: https://alpha.policycompass.eu/app/#!/models/9/edit)

[2015-11-21 19:42] cbotsikas commented on #254
Resolved

[2015-11-21 19:42] #254 closed

[2015-11-23 15:59] belalakbar commented on #377
@cbotsikas I have implemented this functionality using the code used by the visualization team.
@mmilaprat can you please tell me how the available code you developed can be changed to address the above issue.

[2015-11-24 01:55] cbotsikas opened #379 "Code cleanup"
Clean code base from unused files, code and comments

[2015-11-24 02:03] cbotsikas commented on #378
Reponing for other repos

[2015-11-24 07:34] mmilaprat commented on #377
in visualisations, the cancel button execute "window.history.back();"

[2015-11-24 08:23] FabiApfelkern commented on #377
I think the Cancel button should just link to the read view of the entity. Like here with indicators: https://github.com/policycompass/policycompass-frontend/blob/master/app/modules/indicators/partials/create.html#L23

[2015-11-25 13:37] nidico commented on #299
@FabiApfelkern - please decide whether to move it to sprint 7, sprint 8 or year 3.

[2015-11-25 13:42] nidico commented on #92
This is already widely known and used in practice.

[2015-11-25 13:42] #92 closed

[2015-11-25 13:46] nidico commented on #125
Duplicate of #23.

[2015-11-25 13:46] #125 closed

[2015-11-25 19:08] nidico opened #380 "Create pre-commit hook which checks proper code formatting"
In order to keep up with the nice code formatting introduced in policycompass/policycompass-services#88, we want to create a pre-commit hook which checks (currently the python code) for proper formatting and code smells with:

    flake8 apps policycompass_services --ignore E501,F403 --exclude migrations

We could create the post-commit hook from the `Makefile` of this repository, however not ever

[2015-11-25 19:31] cbotsikas commented on #380
@nidico about the commit hook, we should run these tests on travis and manual commands. We can't have git client hooks distributed. We can have the same process in front-end with jslint/hint. I've recently discovered https://linthub.io/ but the travis solution is better IMO.
I was also thinking that we could use also https://codeclimate.com/ and https://saucelabs.com/ which are both free for Open

[2015-11-25 19:45] cbotsikas commented on #380
@nidico My main concern about these tools on PC, is if we are willing to really enforce them on all PRs from now on or we are going to accept all of them regardless the results of those tools.
For example, although i've reformatted frontend (semi-automatically; i had to manually check almost all files and align the format errors) and send out an email asking to respect the formatting and how the c

[2015-11-25 19:52] nidico commented on #380
We can't force everybody to install the post-commit hook, but we can add it to the README, communicate it in the telco and pre-install it for those who use the Makefile (e.g. me). This already helps to avoid broken commits beforehand, while travis etc. will only detect the broken links afterwards.

Still I agree travis should fail if our style guide isn't fulfilled.

I would reject those where we

[2015-11-25 19:57] FabiApfelkern commented on #380
I agree that we have to enforce it! And our rules are not very strict. It's a good trade-off. When we have Travis in place, everybody will see when a PR is not valid and can react.

[2015-11-26 12:50] belalakbar commented on #115
@mmilaprat for this function can you please tell me who I will get the list of the indicators to pre-populate the concepts in FCM editor.

[2015-11-26 12:51] belalakbar commented on #330
@FabiApfelkern have you applied the Auth in metric manger can you give me path so I can have a look.
or anyone else did so can you please give me a clue.

[2015-11-26 12:56] mmilaprat commented on #115
probably the best solution is to pass the list of the indicators in the url when we click over the link "Create Causal Model" that appears into the visualisation detail page.

something like this:
/app/#!/models/create?indicators=1,2,7,32

something like this is used to load datasets into the visualisation when users click over the link "Visulise" that appears into the dataset main page.

In this

[2015-11-26 13:46] aquinas9 commented on #344
One of my concern for this issue is that we don't save all the simulation result and only simulation parameters used for recent simulation are saved to db table. I think there are two option for this.

If you think the previous simulation results should be shown before going into edit mode,  firstly we need to consider how much storage is expected till the future  and then create new tables for th

[2015-11-26 13:48] aquinas9 commented on #288
I think we can close this issues.

[2015-11-26 13:51] cbotsikas commented on #288
@aquinas9 with what resolution?

[2015-11-26 13:55] aquinas9 commented on #115
We need to make more clear for further development for this.

The problem is what should be the concept when user go into the FCM manager from visualisation.

Indicator is different from the concept in FCM.

But reverse procedure seems quite simple (FCM -> Visualisation). Maybe all the data sets which are related to the concept can be passed to the create visualisation.

[2015-11-26 13:57] cbotsikas commented on #115
/app/#!/models/create?indicators=1&indicators=2&indicators=7&indicators=32 would be proper. If visualization has this list, it can also use /app/#!/models/create?visualization=15 and grab the list using visualization api

[2015-11-26 14:08] aquinas9 commented on #288
@cbotsikas @belalakbar
I don't know exactly what is the difference of scroll action in FCM and visualisation.
Can you clear what function we need to implement more for Bilal and me?

[2015-11-26 14:09] cbotsikas commented on #115
```Indicator is different from the concept in FCM.```
Indeed, this is an issue. It's also not clear to me.
How are the indicators linked with a visualization and where does the FCM use them.

[2015-11-26 14:12] aquinas9 commented on #115
@cbotsikas @belalakbar @YuriGlickman
I think we need more discussion on this with Yuri.
We can discuss it in next telco.

[2015-11-26 14:42] cbotsikas commented on #288
Visualization has scroll to zoom functionality disabled by default and provides a checkbox to enable it.
in FCM if the mouse cursor in on top of the FCM map, it captures the scroll action to zoom in/out.
For me, the current situation is fine.
If @nidico or others still find this behavior annoying, you could either implement a checkbox, similar to visualization, that enables and disables zoom funct

[2015-11-26 15:02] cbotsikas commented on #288
talking about the map's zoom reminded me an other question/issue. Is the zoom level saved with the elements' position information? If yes, i think you need to save the FCM's size too (width & height) so that you can use that information and scale the positions and zoom level accordingly. for example in this FCM: https://alpha.policycompass.eu/app/#!/models/11 this is what i see:
![capture](https:/

[2015-11-26 15:48] cbotsikas commented on #288
I'm reopening till a final decision or fix is made.

[2015-11-26 22:57] nidico commented on #288
IIRC I opened this issue during / after a telco some weeks ago. During that telco we said that the current behavior is broken and should be changed (e.g. by disabling scroll to zoom by default). This is also and still my opinion.

During the review I've seen multiple persons scrolling the page, ending up with the cursor on top of the graph, trying to go on scrolling, but zoom instead.

Looking at

[2015-11-27 08:57] YuriGlickman commented on #115
I think Nadia and Miquel has explained it, but I will try to add a few details:
1. As Nadia wrote "From a visualisation, when we click the "Create Casual Model" button we will go to the FCM page with concepts pre-populated based on the indicators of the visualisation. The list of indicators will be passed from the visualisations screen when clicking the button."
2. Indicators are differerent from

[2015-11-27 10:29] mmilaprat commented on #115
I'm going to update the code of the "Create Causal Model" button that appears into the visualisation detail page to create links like this:

app/#!/models/create?indicators=208&indicators=75&indicators=82

[2015-12-01 22:37] YuriGlickman commented on #346
Weight calculation does not work. Please do not close the tickets until you tested that the implemented functionality actualy works.

[2015-12-02 00:17] YuriGlickman opened #381 "Impact Analysis tab(s)"
The Impact Analysis button is not visible enough. Please remove  the button and add the Impact Analysis  tab(or 2 tabs) with the same content as you have now in the pop-up window. That will improve the usability

[2015-12-02 09:01] FabiApfelkern commented on #380
@nidico Will you implement this?

[2015-12-02 09:01] FabiApfelkern commented on #379
@cbotsikas @nidico Would you consider this done?

[2015-12-02 09:05] FabiApfelkern commented on #344
@aquinas9 Couldn't you just run the simulation like you do it in the edit mode? I don't get the issue here.

[2015-12-02 09:08] FabiApfelkern commented on #336
@nadiapo What "items form" do you mean?

[2015-12-02 09:12] FabiApfelkern commented on #330
The first step is: You have to implement a connection to our Auth-Service (https://github.com/policycompass/policycompass/wiki/Auth-Service )in your backend. We did this for our Python backend. You can see here (https://github.com/policycompass/policycompass-services/blob/master/policycompass_services/auth.py#L85) how we communicate with the Auth-Service. This may be a complex task, so you should

[2015-12-02 09:15] FabiApfelkern commented on #299
We can have it in Sprint 7. Shouldn't be hard, should it? Just tell me, what the best way is to start supervisor on system start. An init.d script?

[2015-12-02 09:19] FabiApfelkern commented on #288
I think it is general a good idea to interact with the graph via mouse, but there HAS to be an indication that the mouse is in a different mode when hovering the FCM canvas. E.g. the mouse cursor is changing.

[2015-12-02 09:20] FabiApfelkern commented on #232
@YuriGlickman We still need this, do we?

[2015-12-02 09:22] FabiApfelkern commented on #204
@mmilaprat Do you need this for Sprint 7?

[2015-12-02 09:26] FabiApfelkern commented on #59
@cbotsikas Do we need this ticket?

[2015-12-02 09:27] FabiApfelkern commented on #23
@cbotsikas We have talked about this. Any progress? Do we/you manage in Sprint 7?

[2015-12-02 09:31] FabiApfelkern opened #382 "Different Visualisations not available in View Mode"
The different kinds of visualisation (map, pie, ...) are not available in view mode. Is this on purpose?

[2015-12-02 09:40] YuriGlickman commented on #232
I think we need only the Imprint section. We should take this one as a basis and update it:
https://www.fokus.fraunhofer.de/imprint

[2015-12-02 09:51] mmilaprat commented on #204
I use elastic search to find events related with a country.

I use queries like:

query = {
                    "filtered": {
                        "filter": {
                            "terms": {
                                "geoLocation": [array ids individuals]
                            }
                        }
                    }
                };

[2015-12-02 09:53] FabiApfelkern commented on #204
Yo, our are fine for now?

[2015-12-02 09:53] mmilaprat commented on #382
yes. In view mode users can only change "minor" details (view grid, legend,...)

[2015-12-02 10:00] mmilaprat commented on #232
but this imprint content is not equal that the one we have in "Publising Notes"?

https://frontend-stage.policycompass.eu/app/#!/publishingNotes

[2015-12-02 10:04] YuriGlickman commented on #232
It is, but we have to update the text and it has to be called Imprint. I think it is legal requirement in Germany and because the portal is hosted in Germany it may create us some problems.
I will update the text right now and send it to Fabian.

[2015-12-02 11:37] nidico commented on #380
Yes.

[2015-12-02 12:24] nadiapo commented on #336
For example the Language selector in the visualisation metadata editor

[2015-12-02 12:32] YuriGlickman commented on #203
Hi Christos,

I do not know if the currently deployed version on stage is up to date. If yes, can you please make lenght of strings in facets event smaller, so the domain names would not clash with the number of elements. I keep the ticket closed since it is a minor change.

[2015-12-02 13:03] YuriGlickman opened #383 "Filtering get lost after switching to a % view"
Here is  a concrete example of the bug:
https://alpha.policycompass.eu/app/#!/visualizations/36
if I deactivate data for France by clicking on the corresponding legends and then switch to a % view then the deaactivation French datasets get lost and I haver to deactivate them again :(

[2015-12-02 13:08] #375 closed

[2015-12-03 07:46] mmilaprat commented on #383
it's not a "bug". Are different functionalities that updates the chart. I'll try to merge then, but I need to think how to do it.

[2015-12-03 08:27] mmilaprat opened #384 "Filter dataset content by dates"
If we request of a dataset filtering content by dates and the filter dates are out of the dataset content, the API return an error not an empty array of data.

Example, dataset id=2 (from 1996 to 2009)
https://services-stage.policycompass.eu/api/v1/datasetmanager/datasets/2

This works because both date are in the dataset range of dates:

https://services-stage.policycompass.eu/api/v1/datasetmanag

[2015-12-03 10:31] belalakbar commented on #157
@mmilaprat Have done you done the embendable light view for visualization? Can you give me the path of your implementation?

[2015-12-03 10:32] belalakbar commented on #115
How you pass the indicator to create model?

[2015-12-03 10:34] mmilaprat commented on #157
no, @cbotsikas is doing this

[2015-12-03 10:35] mmilaprat commented on #115
I added the list of indicatord in the url

app/#!/models/create?indicators=4&indicators=1&indicators=3

[2015-12-03 14:03] FabiApfelkern commented on #271
@aquinas9 What does this issue exactly mean?

[2015-12-03 14:08] aquinas9 commented on #271
@FabiApfelkern This will shows the correlation matrix of concepts which have datasets. This matrix can be a reference for the user to determine the weight manually. But at the moment the button is now shown in the platform.

[2015-12-03 14:22] FabiApfelkern commented on #271
Ok, thanks! We don't need this in this Sprint. We do it in Year 3.

[2015-12-03 17:59] cbotsikas commented on #203
@YuriGlickman It's up to date. I'm not quite sure what you have in mind, so i've prepared the following change options so that we can decide.

1) smaller fonts
![image](https://cloud.githubusercontent.com/assets/1640100/11568588/53cf1838-99ed-11e5-90fd-78e39ef15cb5.png)

2) a bigger gap between the label and the number of elements
![image](https://cloud.githubusercontent.com/assets/1640100/1156859

[2015-12-03 18:02] cbotsikas commented on #203
I think the smaller font option (1) is making the text hard to read

[2015-12-04 12:41] YuriGlickman commented on #203
Hi Christos,
Maybe the issue is only by me because I have magnified fonts... So, it looks like on a screenshot below:

![facet](https://cloud.githubusercontent.com/assets/8254248/11589845/0b8b53d0-9a8c-11e5-8db5-717b3f215ab8.jpg)

I think the Option 2 could help in my case.

[2015-12-04 18:59] nidico commented on #23
@FabiApfelkern are you in the right issue? About this one, I'd say no, move to year 3.

[2015-12-07 09:27] YuriGlickman commented on #346
I close this ticket and re-open #181 instead of it. It describes the task better

[2015-12-07 09:27] #346 closed

[2015-12-07 09:47] belalakbar commented on #344
https://github.com/policycompass/policycompass-frontend/pull/265

[2015-12-07 15:29] YuriGlickman opened #385 "Import all datasets from Eurostat"
Import all datasets (or from selected categories) from Eurostat

[2015-12-07 15:32] YuriGlickman commented on #385
we need it before the public launch (March 2016)

[2015-12-07 18:56] nidico opened #387 "Loading common fixtures broken"
Trying to load the common fixtures through the `Makefile` or by manually running

    bin/python3.4 manage.py loaddata common

is broken:

[code]

This currently makes travis fail.

[2015-12-08 09:18] FabiApfelkern commented on #23
I chatted a little bit with @cbotsikas about it and he thought it is possible to have it. @cbotsikas What do you say?